/**
 *
 * Apply your custom CSS here
 *
*/

body {
}

a {
}

input[type=text] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
	border:none;
	background-color:inherit;
	border-bottom: 1px solid  #494A55;
	box-shadow:none;
}

input[type=password] {
    width: 100%;
    margin: 8px 0;
	border:none;
	padding: 12px 10px;
	background-color:inherit;
	border-bottom: 1px solid  #494A55;
	box-shadow:none;
}

input[type=text]:focus {
	box-shadow:none;
}

input[type=password]:focus {
	box-shadow:none;    
}

.login-page {
    background-image:url("tower.png");
    background-size:contain;
    color: #fff;
    padding-top: 40px;
}