<page-title ng-if="layoutOptions.pageTitles" title="Approve Claim" description=""></page-title>
<div class="panel panel-default" ng-show="table">
	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>S/N</th>
					<th>Claim Name</th>
					<th>TKC Name</th>
					<th>Project Name</th>
					<th>Amount</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Claim test 1</td>
					<td>TKC One</td>
					<td>ABC</td>
					<td>15000000</td>
					<td>
						<button class="btn btn-info btn-sm btn-icon icon-left">View</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Claim test 2</td>
					<td>TKC Two</td>
					<td>DEF</td>
					<td>15890000</td>
					<td>
						<button class="btn btn-info btn-sm btn-icon icon-left">View</button>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Claim test 3</td>
					<td>TKC Three</td>
					<td>LKJ</td>
					<td>15045600</td>
					<td>
						<button ng-click="view()" class="btn btn-info btn-sm btn-icon icon-left">View</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div ng-show="views">
	<div class="panel panel-default">
		<div class="row">
			<div class="col-sm-4">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Project Name</th>
						<td>MEDHAVI</td>
					</tr>
					<tr>
						<th>Scheme Name</th>
						<td>UPPCL</td>
					</tr>
					<tr>
						<th>Start Date</th>
						<td>10-10-2017</td>
					</tr>
					<tr>
						<th>Claim Name</th>
						<td>claim test 111</td>
					</tr>
					
				</table>
			</div>
			<div class="col-sm-4">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Project ID</th>
						<td>20172525</td>
					</tr>
					<tr>
						<th>Company Name </th>
						<td>ADBC</td>
					</tr>
					<tr>
						<th>End-Date</th>
						<td>15-12-2018</td>
					</tr>
					<tr>
						<th>TKC Name</th>
						<td>tkcs one </td>
					</tr>
				</table>
			</div>
			<div class="col-sm-4">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Discom Name</th>
						<td>DVVL</td>
					</tr>
					<tr>
						<th>General Manager</th>
						<td>Abcd ehg</td>
					</tr>
					<tr>
						<th>Claim Amount</th>
						<td>15000000</td>
					</tr>
				</table>
			</div>
		</div><br/><br/>

		<div class="row">
			<div class="col-md-5">
				<span>Approved Amount</span>
				<input class="form-control" name="">
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<span>Approved Date</span>
				<input class="form-control datepicker" ng-model="finance.date" placeholder="" />
			</div>
		</div><br/><br/>

		<div class="row">
			<div class="col-md-5">
				<span>Approved By</span>
				<input class="form-control" name="">
			</div>
		</div><br/><br/>

		<div class="row" align="center">
			<button ng-click="cancel()" class="btn btn-sm btn-icon icon-left" >Go Back</button>
		</div>
	</div>
</div>