<page-title ng-if="layoutOptions.pageTitles" title="TKC Claim Details" description=""></page-title>

<div>
	<div class="panel panel-default">
		<div class="row">
			<div class="form-group">
			    <div class="col-sm-5"> 
			    	<label class=" control-label">Project Name</label>    
				    <script type="text/javascript">
						jQuery(document).ready(function($)
						{
							$("#proj_name").select2({
								placeholder: '-- Select Scheme Name --',
								allowClear: true
							}).on('select2-open', function()
							{
								// Adding Custom Scrollbar
								$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
							});
							
						});
					</script> 
			        <select 
			        		ng-model="finance.pid" 
			                ng-options="x as x.project_name for x in names track by x.project_id"
			                ng-change = "getDivision()"
			                class="form-control"
			                ng-required="true"
			                id="proj_name">
			          	<option value="">-- Select Project Name --</option>
			        </select>      
			    </div>
			    <div class="col-md-1"></div>
			    <div class="col-sm-5">     
			    	<label class=" control-label">Division Name</label>  
				    <script type="text/javascript">
						jQuery(document).ready(function($)
						{
							$("#division").select2({
								placeholder: '-- Select Scheme Name --',
								allowClear: true
							}).on('select2-open', function()
							{
								// Adding Custom Scrollbar
								$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
							});
							
						});
					</script>
			        <select  
		        		id="division"
		        		ng-model="finance.div_id"
		                ng-options="x as x.div_town_name for x in divisions track by x.div_town_id"
		                ng-change = "getAddress()"
		                class="form-control" 
		                ng-required="true"
			                >
			          <option value="">-- Select Division Name --</option>
			        </select>      
			    </div>
		    </div>
		</div><br /><br />

		<div>
			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
						<label class="control-label" for="street">Company Name : </label>
						<strong>{{finance.addrs.company_name}}</strong>
					</div>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<div class="form-group">
						<label class="control-label" for="street">Discom Name : </label>
						<strong>{{finance.addrs.discom_name}}</strong>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-5">
					<div class="form-group">
						<label class="control-label" for="street">Circle Name :  </label>
						<strong>{{finance.addrs.circle_name}}</strong>
					</div>
				</div>
				<div class="col-md-1"></div>
	<!-- 			<div class="col-md-5">
					<div class="form-group"> 
						<label class="control-label" for="street">District Name: </label>
						<strong>{{finance.addrs.district_name}}</strong>
					</div>
				</div> -->
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5"> 
				<label class=" control-label">TKC Name</label>    
			    <script type="text/javascript">
					jQuery(document).ready(function($)
					{
						$("#tkc").select2({
							placeholder: '-- Select Scheme Name --',
							allowClear: true
						}).on('select2-open', function()
						{
							// Adding Custom Scrollbar
							$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
						});
						
					});
				</script> 
			    <select 
			    	id="tkc"
		    		ng-model="finance.tkc_id" 
		            ng-options="x as x.tkc_name for x in tkc_details track by x.tkc_id"
		            class="form-control"
		            ng-required="true">
			      	<option value="">-- Select TKC Name --</option>
			    </select>      
			</div>
		</div>
		<br /><br />

		<div class="row">
			
			<div class="col-md-5">
				<div class="form-group">
					<label class="control-label">Claim Name</label>
					<input class="form-control" ng-model="finance.claim_name"  placeholder=""/>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<div class="form-group">
					<label class="control-label">Claim Amount</label>
					<input class="form-control" ng-model="finance.claim_amount"  placeholder=""/>
				</div>
			</div>		
		</div><br /><br />

		<div class="row">

			<div class="col-md-5">
				<div class="form-group">
					<label class="control-label">Claim Date</label>
					<input class="form-control datepicker" ng-model="finance.date" data-format="D, dd MM yyyy" placeholder="" />
				</div>
			</div>		
		</div><br /><br />
		<div class="form-group" align="center">
			<button type="submit" ng-click="savefinance()" class="btn btn-primary">Submit</button>
		</div>
	</div>
</div>