<div class="panel panel-default">
	<div class="panel-body" ng-show="table">
		
		<a class="navbar-brand" href="">Existing User</a>
		<div class="navbar-form navbar-right" align="center">
			<input type="text" ng-model="searchkey" class="form-control" placeholder="Search">
		</div>
		
		<table class="table table-bordered table-striped" id="example-2">
			<thead>
				<tr>
					<th>S/N</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Employee Code</th>
					<th>Mobile No.</th>
					<th>Email</th>
					<th>Action</th>
					<th>Disable</th>
				</tr>
			</thead>
				<tbody class="middle-align" ng-repeat = "record in records | filter : searchkey">
					
						<tr>
						<td>{{$index+1}}</td>
						<td>{{record.fname}}</td>
						<td>{{record.lname}}</td>
						<td>{{record.uid}}</td>
						<td>{{record.mobile}}</td>
						<td>{{record.email}}</td>

						<td>
							<button ng-click="profile(record)" class="btn btn-info btn-sm btn-icon icon-left">
								Profile
							</button>
						</td><!-- ng-click="disable(record)" -->
						<td>
							<input type="checkbox" ng-model="record.enabled_flag" class="iswitch iswitch-danger" 
							ng-change="disable(record)"
							ng-true-value="N" ng-false-value="Y">
							</input>
						</td>
					</tr>
					
				</tbody>
		</table>
	</div>
<!-- 
	<div class="row" id="registration" ng-show="registration">
		<div class="col-sm-12">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">New User Registration</h3>
				</div>
				<div class="panel-body">

					<form role="form" class="form-horizontal" role="form">

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">First Name</label>

							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="addnew.fname" id="field-1" placeholder="First Name">
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">Last Name</label>

							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="addnew.lname" id="field-1" placeholder="Last Name">
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">Employee Code</label>

							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="addnew.uid" id="field-1" placeholder="Employee Code">
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">Mobile Number</label>

							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="addnew.mobile" id="field-1" placeholder="Mobile Number">
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">Office Email</label>

							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="addnew.email" id="field-1" placeholder="Office Email">
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">User Name</label>

							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="addnew.uid" id="field-1" placeholder="username">
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-2">Password</label>

							<div class="col-sm-5">
								<input type="password" class="form-control" ng-model="addnew.password" id="field-2" placeholder="Password" disabled>
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">User Role</label>

							<div class="col-sm-5">
								<select ng-model="addnew.role" ng-options="x for x in role">
	                  			</select>
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group" align="center">
								
							<button type="button" ng-click="RegisterNewUser()" class="btn btn-purple btn-single">Create User
							</button>
							<button type="button" ng-click="exit()" class="btn btn-purple btn-single">
								Exit
							</button>
							
						</div>

					</form>
				</div>
			</div>
		</div>
	</div> -->
	<div ng-show="prf">
		<div class="profile-env">
			
			<div class="row">
			
				<div class="col-sm-3">
					
					<!-- User Info Sidebar -->
					<div class="user-info-sidebar">
						
						<a href="" class="user-img">
							<img src="assets/images/user-4.png" alt="user-img" class="img-cirlce img-responsive img-thumbnail" />
						</a>
						
						<a href="" class="user-name">
							<span>{{list.fname}}{{list.lname}}</span>
							<span class="user-status is-online"></span>
						</a>
						
						<span class="user-title">
							{{list.user_role}} at <strong>PowerGuru</strong>
						</span>
						
						<hr />
						
						<ul class="list-unstyled user-info-list">
							<li>
								<i class="fa-briefcase"></i>
								<a href="">{{list.user_role}}</a>
							</li>

						</ul>	

					</div>
					
				</div>
				
				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-5">
							<strong>Employee ID :</strong>
							<span>{{list.uid}}</span>
						</div>
						<div class="col-sm-4">
							<strong>Role :</strong>
							<span>{{list.user_role}}</span>
						</div>
					</div>

					<div class="form-group-separator"></div><br /><br />

					<div class="row">
						<div class="col-sm-5">
							<strong>Email ID :</strong>
							<span>{{list.email}}</span>
						</div>
						<div class="col-sm-4">
							<strong>Mobile no :</strong>
							<span>{{list.mobile}}</span>
						</div>
					</div>

					<div class="form-group-separator"></div><br /><br />

					<div class="row">
						<div class="col-sm-5">
							<strong>Joined on :</strong>
							<span>{{list.start_date}}</span>
						</div>
						<div class="col-sm-4">
							<strong>Created By :</strong>
							<span>{{list.created_by}}</span>
						</div>

					</div>

					<div class="form-group-separator"></div><br /><br />

					<div class="form-group" align="center">
							
						<button ng-click="exit()" class="btn btn-purple btn-single">
							Exit
						</button>
						
					</div>					
					
				</div>
				
			</div>
			
		</div>
	</div>
</div>
