<div class="panel panel-default">
	<div class="panel-body" ng-show="table">
		
		<a class="navbar-brand" href="">Pending User</a>
		<div class="navbar-form navbar-right" align="center">
			<input type="text" ng-model="searchkey" class="form-control" placeholder="Search">
		</div>
		
		<table class="table table-bordered table-striped" id="example-2">
			<thead>
				<tr>
					<th>S/N</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Employee Code</th>
					<th>Mobile No.</th>
					<th>Email</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody class="middle-align" ng-repeat = "record in records | filter : searchkey">
				
					<tr>
					<td>{{$index+1}}</td>
					<td>{{record.fname}}</td>
					<td>{{record.lname}}</td>
					<td>{{record.uid}}</td>
					<td>{{record.mobile}}</td>
					<td>{{record.email}}</td>
					<td>
						<!-- <a href="#registration"></a> -->
						<button ng-click="create(record)" class="btn btn-secondary btn-sm btn-icon icon-left">
							Create
						</button>
					</td>
				</tr>	
			</tbody>
		</table>
	</div>
<!-- 	New user registeration from for admin -->
	<div class="row" id="registration" ng-show="registration">
		<div class="col-sm-12">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">New User Registration</h3>
				</div>
				<div class="panel-body">

					<form role="form" class="form-horizontal" role="form">

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">First Name</label>

							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="addnew.fname" id="field-1" placeholder="First Name">
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">Last Name</label>

							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="addnew.lname" id="field-1" placeholder="Last Name">
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">Employee Code</label>

							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="addnew.uid" id="field-1" placeholder="Employee Code">
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">Mobile Number</label>

							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="addnew.mobile" id="field-1" placeholder="Mobile Number">
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">Office Email</label>

							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="addnew.email" id="field-1" placeholder="Office Email">
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">User Name</label>

							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="addnew.uid" id="field-1" placeholder="username">
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-2">Password</label>

							<div class="col-sm-5">
								<input type="password" class="form-control" ng-model="addnew.password" id="field-2" placeholder="Password" disabled>
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">User Role</label>

							<div class="col-sm-5">
								<select ng-model="addnew.role" ng-options="x as x.name for x in role track by x.id">
	                  			</select>
							</div>
						</div>

						<div class="form-group-separator"></div>

						<div class="form-group" align="center">
								
							<button type="button" ng-click="RegisterNewUser()" class="btn btn-purple btn-single">Create User
							</button>
							<button type="button" ng-click="exit()" class="btn btn-purple btn-single">
								Exit
							</button>
							
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>