

	<page-title ng-if="layoutOptions.pageTitles" title="Profile" description="User profile and story timeline"></page-title>


<section class="profile-env">
	
	<div class="row">
	
		<div class="col-sm-3">
			
			<!-- User Info Sidebar -->
			<div class="user-info-sidebar">
				
				<a href="" class="user-img">
					<img src="assets/images/user-4.png" alt="user-img" class="img-cirlce img-responsive img-thumbnail" />
				</a>
				
				<a href="" class="user-name">
					Raju Sah
					<span class="user-status is-online"></span>
				</a>
				
				<span class="user-title">
					Software Developer at <strong>PowerGuru</strong>
				</span>
				
				<hr />
				
				<ul class="list-unstyled user-info-list">
				<li>
					<i class="fa-home"></i>
					Janakpur, Nepal
				</li>
				<li>
					<i class="fa-briefcase"></i>
					<a href="">Full Stack  Developer</a>
				</li>
				<li>
					<i class="fa-graduation-cap"></i>
					Visvesvaraya Technological University, Bangalore
				</li>
			</ul>	
					
				<hr />
				
				<ul class="list-unstyled user-friends-count">
					<li>
						<span>643M</span>
						followers
					</li>
					<li>
						<span>108</span>
						following
					</li>
				</ul>
				
				<button type="button" class="btn btn-success btn-block text-left">
					Following
					<i class="fa-check pull-right"></i>
				</button>
			</div>
			
		</div>
		
		<div class="col-sm-9">
			
			<!-- User Post form and Timeline -->
			<form method="post" action="" class="profile-post-form">
				<textarea class="form-control input-unstyled input-lg autogrow" placeholder="What's on your mind?"></textarea>
				<i class="el-edit block-icon"></i>
				
				<ul class="list-unstyled list-inline form-action-buttons">
					<li>
						<button type="button" class="btn btn-unstyled">
							<i class="el-camera"></i>
						</button>
					</li>
					<li>
						<button type="button" class="btn btn-unstyled">
							<i class="el-attach"></i>
						</button>
					</li>
					<li>
						<button type="button" class="btn btn-unstyled">
							<i class="el-mic"></i>
						</button>
					</li>
					<li>
						<button type="button" class="btn btn-unstyled">
							<i class="el-music"></i>
						</button>
					</li>
				</ul>
				
				<button type="submit" class="btn btn-single btn-xs btn-success post-story-button">Post</button>
			</form>
			
			
			<!-- User timeline stories -->
			<section class="user-timeline-stories">
				
				<!-- Timeline Story Type: Status -->
				<article class="timeline-story">
					
					<i class="fa-paper-plane-empty block-icon"></i>
					
					<!-- User info -->
					<header>
						
						<a href="" class="user-img">
							<img src="assets/images/user-4.png" alt="user-img" class="img-responsive img-circle" />
						</a>
						
						<div class="user-details">
							<a href="">Raju Sah</a> posted a status <a href="">update</a>.
							<time>12 hours ago</time>
						</div>
						
					</header>
					
					<div class="story-content">
						<!-- Story Content Wrapped inside Paragraph -->
						<p>Self Satisfaction is Worthless!!!</p>
						
						<!-- Story Options Links -->
						<div class="story-options-links">
							<a href="">
								<i class="linecons-heart"></i>
								Like 
								<span>(755M)</span>
							</a>
							
							<a href="">
								<i class="linecons-comment"></i>
								Comments
								<span>(989K)</span>
							</a>
						</div>
						
						
						<!-- Story Comments -->
						<ul class="list-unstyled story-comments">
							<li>
								
								<div class="story-comment">
									<a href="" class="comment-user-img">
										<img src="assets/images/user-2.png" alt="user-img" class="img-circle img-responsive" />
									</a>
									
									<div class="story-comment-content">
										<a href="" class="story-comment-user-name">
											Arlind Nushi
											<time>01 December 2014 - 17:54</time>
										</a>
										
										<p>Absolutely, Right!!! 100%</p>
									</div>
								</div>
								
							</li>
							<li>
								
								<div class="story-comment">
									<a href="" class="comment-user-img">
										<img src="assets/images/user-3.png" alt="user-img" class="img-circle img-responsive" />
									</a>
									
									<div class="story-comment-content">
										<a href="" class="story-comment-user-name">
											Eroll Maxhuni
											<time>04 November 2014 - 17:54</time>
										</a>
										
										<p>Inspirational......</p>
									</div>
								</div>
								
							</li>
						</ul>
						
						<form method="post" action="" class="story-comment-form">
							<textarea class="form-control input-unstyled autogrow" placeholder="Reply..."></textarea>
						</form>
					</div>
					
				</article>
				
			</section>
			
		</div>
		
	</div>
	
</section>

<script type="text/javascript">
	loadGoogleMaps( 3 ).done(function(){
		var $ = jQuery,
			map_canvas = $("#sample-checkin");
		
		var location = new google.maps.LatLng(36.738888, -119.783013),
			map = new google.maps.Map(map_canvas[0], {
			center: location,
			zoom: 14,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			scrollwheel: false
		});
		
		var marker = new google.maps.Marker({
			position: location,
			map: map
		});
	});
</script>
