<footer class="main-footer sticky footer-type-1">
	
<!-- 	<div class="footer-inner"> -->
	
		<!-- Add your copyright text here -->
<!-- 		<div class="footer-text">
			&copy; 2014 
			<strong>Xenon</strong> 
			theme by <a href="http://laborator.co" target="_blank">Laborator</a> - <a href="http://themeforest.net/item/xenon-bootstrap-admin-theme/9059661?ref=Laborator" target="_blank">Purchase for only <strong>23$</strong></a>
		</div> -->
		
		
		<!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
<!-- 		<div class="go-up">
		
			<a href="" rel="go-top">
				<i class="fa-angle-up"></i>
			</a>
			
		</div>
		
	</div> -->
	
</footer>