<page-title ng-if="layoutOptions.pageTitles" title="Project Target" description=""></page-title>
<div class="panel panel-default" ng-show="table">
	<div class="panel-body">

		<table id="pro_details" class="table table-bordered table-striped" id="example-2">
			<thead>
				<tr>
					<th>S/N</th>
					<th>Project Name</th>
					<th>Project ID</th>
					<th>Project Type</th>
					<th>Start Date</th>
					<!-- <th>Status</th> -->
					<th>Action</th>
				</tr>
			</thead>
			<tbody class="middle-align" ng-repeat = "proj in proj_list | filter : searchkey">
				
					<tr>
					<td>{{$index+1}}</td>
					<td>{{proj.project_name}}</td>
					<td>{{proj.project_id}}</td>
					<td>{{proj.scheme_name}}</td>
					<td>{{proj.start_date}}</td>
					<td>	
<!-- 						<button ng-click="open(proj)" class="btn btn-info btn-sm btn-icon icon-left">
							Open
						</button> -->
						<button ng-click="add(proj)" class="btn btn-secondary btn-sm btn-icon icon-left">
							Add +
						</button>
					</td>
				</tr>	
			</tbody>
		</table>
	</div>
</div>

<div class="panel panel-default" ng-show="submittedtarget">
	
	
	<a class="navbar-brand">Target Submitted For : <strong>{{data.project_name}}</strong></a>	
	<div ng-show="table_trg">
		<table class="table table-bordered table-striped" id="example-2">
			<thead>
				<tr>
					<th>S/N</th>
					<th>Discom Name</th>
					<th>Zone Name</th>
					<th>Division Name</th>
					<th>TKC Name</th>
					<th>Approved</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody class="middle-align">
				<tr>
					<td>1</td>
					<td>DVVNL</td>
					<td>KANPUR ZONE</td>
					<td>EDD-1 KANPUR</td>
					<td>TKC-2</td>
					<td>N</td>
					<td>
						<!-- <a href="#registration"></a> -->
						<button ng-click="edit()" class="btn btn-info btn-sm btn-icon icon-left">
							Edit
						</button>
					</td>
				</tr>	
			</tbody>
		</table>
	</div>

	<div ng-show="edit_trg">
		<div class="row" >
			<div class="col-sm-1"></div>
			<div class="col-sm-10">

				<table class="table table-bordered table-striped" id="example-2">
					
					<tr>
						<th>Scheme Name </th>
						<td>MNC company</td>
					</tr>
					<tr>
						<th>Project Name </th>
						<td>Medhavi</td>
					</tr>
					<tr>
						<th>Address</th>
						<td>Lucknow</td>
					</tr>	
					<tr>
						<th>Phone Number</th>
						<td>1234567890</td>
					</tr>	

				</table>
			</div>
		</div>
		<div align="center">
			<button ng-click="cancel_trg()" class="btn btn-info btn-sm btn-icon icon-left">Update</button>
			<button ng-click="cancel_trg()" class="btn btn-danger btn-sm btn-icon icon-left">Cancel</button>
		</div>
	</div><br/><br/>

	<div align="center">
		<button ng-click="cancel()" class="btn btn-sm btn-icon icon-left">Go Back</button>
	</div>
</div>

<!-- <div ng-show="review_sec">
	<div class="tab-pane with-bg">

				<div align="center">
					<h4><strong>Project Review</strong></h4>
					<hr />
					<br />
				</div>
				<div class="well well-lg">
				    <div class="form-group">
				    	<h4>Project Name : <strong>{{data.project_name}}</strong></h4>
				    </div>
				
				    <div class="form-group">
				    	<h4>Project id : <strong>{{data.project_id}}</strong></h4>
				    </div>
				</div>

				<div class="row">

							<table id="pro_review" class="table table-bordered table-striped" id="review">
								<thead>
									<tr>
										<th>S/N</th>
										<th>District Name</th>
										<th>Division</th>
										<th>Zone Name</th>
										<th>tkc Name</th>
										<th>Cable</th>
										<th>Target</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody class="middle-align" ng-repeat = "review in review_list | filter : searchkey">
									
										<tr>
										<td>{{$index+1}}</td>
										<td>{{review.district_name}}</td>
										<td>{{review.div_town_name}}</td>
										<td>{{review.zone_name}}</td>
										<td>{{review.tkc_name}}</td>
										<td>{{review.cable_type_id}}</td>
										<td>{{review.target}}</td>
										
										<td>	
											<button ng-click="editReview()"  class="btn btn-info btn-sm btn-icon icon-left">
												Edit
											</button>
										</td>
									</tr>	
								</tbody>
							</table>
				</div>

				<div class="form-group" align="right"  >
					<button type="submit" ng-click= "cancel()" class="btn btn-primary">Finish</button>
				</div>
				
				</div>
</div> -->

<!--FOR URBAN HIER -->
<div>
	<script type="text/javascript">
		jQuery(document).ready(function($)
		{
			$(".multi-select").multiSelect({
				afterInit: function()
				{
					// Add alternative scrollbar to list
					this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
				},
				afterSelect: function()
				{
					// Update scrollbar size
					this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
				}
			});
			
			$(".selectboxit").selectBoxIt().on('open', function()
			{
				// Adding Custom Scrollbar
				$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
			});
		});
	</script>

	<div ng-show = "add_new">
		<form role="forl" id="rootwizard" class="form-wizard validate" novalidate>
			<ul class="tabs">
				<li class="active">
					<a href="#fwv-1" data-toggle="tab">
						Project details
						<!-- <span>1</span> -->
					</a>
				</li>
				<li>
					<a href="#fwv-2" data-toggle="tab">
						Costing
						<!-- <span>2</span> -->
					</a>
				</li>
				<li>
					<a href="#fwv-3" data-toggle="tab">
						Target Details
						<!-- <span>3</span> -->
					</a>
				</li>

				<li>
					<a href="#fwv-4" data-toggle="tab">
						Summary
					</a>
				</li>
				
			</ul>
			
			<div class="progress-indicator">
				<span></span>
			</div>
			
			<div class="tab-content no-margin">
			
				<div class="tab-pane with-bg active" id="fwv-1">
					<div align="center">
						<span>
							<h5><span>Project Name :<strong> {{data.project_name}}</strong></span></h5>
						</span>
						<hr />
						<br />
					</div>

					<div class="row">
						<div class="form-group">
						    <div class="col-sm-5">     
						    	<span>Discom name </span> 
							    <script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#s2example-03").select2({
											placeholder: '-- Select zone Name --',
											allowClear: true
										}).on('select2-open', function()
										{
											// Adding Custom Scrollbar
											$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
										});
					
									});
								</script>
								<select class="form-control" 
										id="s2example-03" 
										ng-model="target.discom"
						                ng-options="x as x.discom_name for x in discoms track by x.discom_id"
						                ng-change = "getZone()"
						                class="form-control" 
						                ng-required="true">
							          <option value=""></option>
							    </select>   
						    </div>

						    <div class="col-sm-1"></div>
							<div class="col-sm-5">  
								<span>Zone Name </span>    
								<script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#s2example-1").select2({
											placeholder: 'Select Zone',
											allowClear: true
										}).on('select2-open', function()
										{
											// Adding Custom Scrollbar
											$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
										});
										
									});
								</script>
								<select class="form-control" 
											id="s2example-1" 
											ng-model="target.zone" 
								            ng-options="x as x.zone_name for x in zones track by x.zone_id"
								            ng-change = "getCircle()"
								            class="form-control"
								            ng-required="true">
								      <option value="">-- Choose zone --</option>
								</select>   
							</div>
					    </div>
					</div><br /><br />

					<div class="row">
						<div class="form-group">
							<div class="col-sm-5"> 
								<span>Circle Name</span>
							    <script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#s2example-2").select2({
											placeholder: '-- Select Circle Name --',
											allowClear: true
										}).on('select2-open', function()
										{
											// Adding Custom Scrollbar
											$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
										});
										
									});
								</script>
								<select class="form-control" 
										id="s2example-2" 
										ng-model="target.circle"
							            ng-options="x as x.circle_name for x in circles track by x.circle_id"
							            ng-change = "getDivision()"
							            class="form-control" 
							            ng-required="true">
							          <option value=""></option>
							    </select>    
							</div>
										    
					    <div class="col-sm-1"></div>
<!-- 							<div class="col-sm-5">  
								<span>District Name</span>     
							    <script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#s2example-3").select2({
											placeholder: '-- Select District Name --',
											allowClear: true
										}).on('select2-open', function()
										{
											// Adding Custom Scrollbar
											$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
										});
									});
								</script>
								<select class="form-control" 
										id="s2example-3" 
										ng-model="target.district"
							            ng-options="x as x.district_name for x in districts track by x.district_id"
							            ng-change = "getDivision()"
							            class="form-control" 
							            ng-required="true">
							          <option value=""></option>
							    </select> 			           
							</div> -->
					    </div>
					</div><br/><br/>
					<div class="row">   			    			      
				      <div class="col-sm-5"> 
				      	<span>Division Name</span>
						    <script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#division").select2({
										placeholder: '-- Select Division Name --',
										allowClear: true
									}).on('select2-open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
									});
									
								});
							</script>
							<select class="form-control" 
									id="division" 
									ng-model="target.division"
					                ng-options="x as x.div_town_name for x in divisions track by x.div_town_id"
					                ng-change = "getTkc()"
					                class="form-control" 
					                ng-required="true">
						          <option value=""></option>
						    </select>    
				      </div>
				      <div class="col-sm-1"></div>
				      <div class="col-sm-5"> 
				      	<span>TKC Name</span>
						    <script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#tkc").select2({
										placeholder: '-- Select TKC Name --',
										allowClear: true
									}).on('select2-open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
									});
								});
							</script>
							<select class="form-control" 
									id="tkc" 
									ng-model="target.tkc"
					                ng-options="obj as obj.tkc_name for obj in tkcs track by obj.tkc_id"
					                class="form-control" 
					                ng-required="true">
						          <option value=""></option>
						    </select>    
				      </div>
					</div><br /><br />

					<strong>Date</strong>
					<br />
					<br />

					<div class="row">
						
						<div class="col-md-5">
							<div class="form-group">
								<span>Date of Letter of Award</span>
								<input class="form-control datepicker" ng-model="target.dol" data-start-view.doa placeholder="(Optional)" />
							</div>
						</div>
						
						<div class="col-sm-1"></div>
						<div class="col-md-5">
							<div class="form-group">
							<span>Date of Contract Agreement Executed between PIA & TKC</span>
								<input class="form-control datepicker"  ng-model="target.doc" data-start-view.doc placeholder="(Optional)" />
							</div>
						</div>
						
					</div><br /><br />

				</div>
				
				<div class="tab-pane with-bg" id="fwv-2">

					<div align="center">
						<h5><strong>Costing</strong></h5>
						<hr />
						<br />
					</div>
					
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<span>Original Sanctioned Cost</span>
								<input class="form-control" ng-model="target.sanctioned_cost" placeholder="Amount in Rs. Lakhs"/>
							</div>
						</div>
					</div><br/>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<span>Approved Award Cost</span>
								<input class="form-control" ng-model="target.approved_cost" data-validate="" placeholder="incl. of Overhead Charges (Amount in Rs. Lakhs)"/>
							</div>
						</div>
					</div><br/>				
				</div>
				

				<div class="tab-pane with-bg" id="fwv-3" >
				
					<div align="center">
						<span>
							<h5><span>TurnKey Contractor Name :<strong> {{target.tkc.tkc_name}}</strong></span></h5>
						</span>
						<hr />
						<br />
					</div>

					<div class="row">
						
						<div class="col-md-5">
							<div class="form-group">
						    	<span>Progress Type</span> 
							    <script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#progress_type").select2({
											placeholder: '-- Select Progress Type --',
											allowClear: true
										}).on('select2-open', function()
										{
											// Adding Custom Scrollbar
											$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
										});
									});
								</script>   
						        <select ng-model="target.progress_type" 
						                ng-options="obj as obj.table_desc for obj in progress_list track by obj.table_code"
						                class="form-control"
						                ng-required="false"
						                id="progress_type">
						          	<option value="">-- Select Progress Type --</option>
						        </select>      
					    	</div>
						</div>	
						<div class="col-sm-1"></div>
						<div class="col-md-5">
							<div class="form-group">
						    	<span>Cable Type</span>  
							    <script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#cable_type").select2({
											placeholder: '-- Select Cable Type --',
											allowClear: true
										}).on('select2-open', function()
										{
											// Adding Custom Scrollbar
											$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
										});
									});
								</script> 
						        <select ng-model="target.cable_type" 
						                ng-options="obj as obj.cable_type for obj in cable_list track by obj.cable_type_id"
						                class="form-control"
						                ng-required="false"
						                id="cable_type">
						          	<option value="">-- Select Cable Type --</option>
						        </select>      
					    	</div>
						</div>	
					</div>
					<br /><br />

					<div class="row">
						<div class="col-md-5">
							<div class="form-group">
								<span>Target</span>
								<input class="form-control"  ng-model="target.trg_cost" data-validate="" placeholder="Enter Here Target"/>
							</div>
						</div>
					</div><br /><br />	
				</div>
				<div class="tab-pane with-bg" id="fwv-4">

					<div class="row">
						<div class="col-sm-1"></div>
						<div class="col-sm-5">
							<table class="table table-bordered table-striped">
								<tr>
									<th>Project Name</th>
									<td>{{target.pid.project_name}}</td>
								</tr>
								<tr>
									<th>Project ID</th>
									<td>{{target.pid.project_id}}</td>
								</tr>
								<tr>
									<th>Scheme Type</th>
									<td>{{target.pid.scheme_name}}</td>
								</tr>
								<tr>
									<th>Discom Name</th>
									<td>{{target.discom.discom_name}}</td>
								</tr>
								<tr>
									<th>Zone Name</th>
									<td>{{target.zone.zone_name}}</td>
								</tr>
								<tr>
									<th>Circle Name</th>
									<td>{{target.circle.circle_name}}</td>
								</tr>
<!-- 								<tr>
									<th>District Name</th>
									<td>{{target.district.district_name}}</td>
								</tr> -->
								<tr>
									<th>Division Name</th>
									<td>{{target.division.div_town_name}}</td>
								</tr>
								<tr>
									<th>TKC Name</th>
									<td>{{target.tkc.tkc_name}}</td>
								</tr>
							</table>
						</div>
						<div class="col-sm-5">
							<table class="table table-bordered table-striped">
								<tr>
									<th>Date of Letter of Award</th>
									<td>{{target.dol}}</td>
								</tr>
								<tr>
									<th>Date of Contract</th>
									<td>{{target.doc}}</td>
								</tr>
								<tr>
									<th>Original Sanctioned Cost</th>
									<td>{{target.sanctioned_cost}}</td>
								</tr>
								<tr>
									<th>Approved Award Cost</th>
									<td>{{target.approved_cost}}</td>
								</tr>
								<tr>
									<th>Progress Type</th>
									<td>{{target.progress_type.table_desc}}</td>
								</tr>
								<tr>
									<th>Cable Type</th>
									<td>{{target.cable_type.cable_type}}</td>
								</tr>
								<tr>
									<th>Target</th>
									<td>{{target.trg_cost}}</td>
								</tr>
							</table>
						</div>
						<div class="col-sm-1"></div>
					</div><br/>
					
					<div class="form-group" align="right"  >
						<button type="submit" ng-click= "save()" class="btn btn-primary">Submit</button>
						<!-- <button type="submit" ng-click= "reviewtask()"  class="btn btn-primary">Review</button> -->
					</div>
					
				</div>
	
				<!-- Tabs Pager -->
				
				<ul class="pager wizard">
					<li class="previous">
						<a href=""><i class="entypo-left-open"></i> Previous</a>
					</li>
					<li >
						<a ng-click="cancel()" class="btn btn-sm btn-icon icon-left"> Cancel</a>
					</li>
					
					<li class="next">
						<a href="">Next <i class="entypo-right-open"></i></a>
					</li>
				</ul>
				
			</div>
			
		</form>
	</div>
</div>

