<page-title ng-if="layoutOptions.pageTitles" title="Project Progress" description=""></page-title>
<div class="panel panel-default" ng-show= "table">
	<div class="panel-body">
		<table class="table table-bordered table-striped" id="example-2">
			<thead>
				<tr>
					<th>S/N</th>
					<th>Project Name</th>
					<th>Project ID</th>
					<th>Scheme Name</th>
					<th>Start Date</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody class="middle-align" ng-repeat = "pro in proj | filter : searchkey">
				
					<tr>
					<td>{{$index+1}}</td>
					<td>{{pro.project_name}}</td>
					<td>{{pro.project_id}}</td>
					<td>{{pro.scheme_name}}</td>
					<td>{{pro.start_date}}</td>
					<td>{{pro.status}}</td>
					<td>	
						<button ng-click="open(pro)" ng-model="dat" class="btn btn-info btn-sm btn-icon icon-left">
							Open
						</button>
					</td>
				</tr>	
			</tbody>
		</table>
	</div>
</div>

<div>
	<form role="forl" id="rootwizard" class="validate" novalidate>
		<div class="tab-content no-margin">
			<div class="tab-pane with-bg active">

				<div ng-show = "apprv">
					<div class="row">   
						<div class="col-md-6">
						    <div class="form-group">
						    	<label class="control-label">Project Name : <strong>{{progress_details.project_name}}</strong></label>
						    </div>
						</div>
						<div class="col-md-6">
						    <div class="form-group">
						    	<label class="control-label">Discom Name : <strong>{{progress_details.discom_name}}</strong></label>
						    </div>
						</div> 
				    </div>


				    <div class="row">   
						<div class="col-md-6">
						    <div class="form-group">
						    	<label class="control-label">Scheme Type : <strong>{{progress_details.scheme_name}}</strong></label>
						    </div>
						</div>
						<div class="col-md-6">
						    <div class="form-group">
						    	<label class="control-label">Company Name : <strong>{{progress_details.client_name}}</strong></label>
						    </div>
						</div> 
				    </div>

				    <div class="row">   
						<div class="col-md-6">
						    <div class="form-group">
						    	<label class="control-label">Start Date : <strong>{{data.start_date}}</strong></label>
						    </div>
						</div>
						<div class="col-md-6">
						    <div class="form-group">
						    	<label class="control-label">End-Date(Expected) : <strong>{{data.end_date}}</strong></label>
						    </div>
						</div> 
				    </div><br/>
					
					<div class="row">
						<div class="form-group">
						    <div class="col-sm-6"> 
						    	<span>TKC / Field Engineer</span> 
							    <script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#progress_fe").select2({
											placeholder: '-- Select --',
											allowClear: true
										}).on('select2-open', function()
										{
											// Adding Custom Scrollbar
											$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
										});
										$('#cancel').on('click', function(e){
											$("#progress_fe").select2("val", "");
										})
										$('#reject').on('click', function(e){
											$("#progress_fe").select2("val", "");
										})
										
									});
								</script>       
						        <select ng-model="progress.progress_opts" 
						                ng-options="obj as obj.name for obj in static_values track by obj.name_id"
						                ng-change = "getProgressData()"
						                class="form-control"
						                ng-required="true"
						                id="progress_fe" 
						                >
						          	<option value=""></option>
						        </select>      
						    </div>

						    <div class="col-sm-6">     
						    	<span>TKC / Field Engineer</span> 
							    <script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#progress_tkc").select2({
											placeholder: '-- Select Tkc --',
											allowClear: true
										}).on('select2-open', function()
										{
											// Adding Custom Scrollbar
											$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
										});

										$('#cancel').on('click', function(e){
											$("#progress_tkc").select2("val", "");
										})
										$('#reject').on('click', function(e){
											$("#progress_tkc").select2("val", "");
										})
									});
								</script>   
						        <select  ng-model="progress.secondlist"
						                ng-options="x.fname+ '' +x.lname for x in dataArr track by x.id"
						                class="form-control" 
						                ng-required="true"
						                id="progress_tkc" 
						                >
						          <option value=""></option>
						        </select>      
						    </div>
					    </div>
					</div><br /><br />

					<div align="center">
						<button ng-click="show()" class="btn btn-sm btn-icon icon-left">Submit</button>
						<button ng-click="cancel()" id="cancel" class="btn btn-sm btn-icon icon-left">Go Back</button>
					</div>
				</div>

				<div ng-show="apprv_table">
					<div>
						<div class="row">   
							<div class="col-md-6">
							    <div class="form-group">
							    	<label class="control-label">Project Name : <strong>{{data.project_name}}</strong></label>
							    </div>
							</div>
							<div class="col-md-6">
							    <div class="form-group">
							    	<label class="control-label">Discom Name : <strong>{{progress_details.discom_id}}</strong></label>
							    </div>
							</div> 
					    </div>

					    <!-- <div class="row">   
							<div class="col-md-6">
							    <div class="form-group">
							    	<label class="control-label">Zone Name : <strong>{{progress_details.zone_id}}</strong></label>
							    </div>
							</div>
							<div class="col-md-6">
							    <div class="form-group">
							    	<label class="control-label">District Name : <strong>{{progress_details.district_id}}</strong></label>
							    </div>
							</div> 
					    </div>

					    <div class="row">   
							<div class="col-md-6">
							    <div class="form-group">
							    	<label class="control-label">Division : <strong>{{progress_details.div_town_id}}</strong></label>
							    </div>
							</div>
							<div class="col-md-6">
							    <div class="form-group">
							    	<label class="control-label">Circle : <strong>{{progress_details.circle_id}}</strong></label>
							    </div>
							</div> 
					    </div> -->

					    <div class="row">   
							<div class="col-md-6">
							    <div class="form-group">
							    	<label class="control-label">Scheme Type : <strong>{{data.scheme_name}}</strong></label>
							    </div>
							</div>
							<div class="col-md-6">
							    <div class="form-group">
							    	<label class="control-label">Company Name : <strong>{{progress_details.project_id}}</strong></label>
							    </div>
							</div> 
					    </div>

					    <div class="row">   
							<div class="col-md-6">
							    <div class="form-group">
							    	<label class="control-label">Start Date : <strong>{{data.start_date}}</strong></label>
							    </div>
							</div>
							<div class="col-md-6">
							    <div class="form-group">
							    	<label class="control-label">End-Date(Expected) : <strong>{{data.end_date}}</strong></label>
							    </div>
							</div> 
					    </div><br/>
					</div>
					<hr>
						<table class="table table-bordered table-striped" id="example-2">
							<thead>
								<tr>
									<th>S/N</th>
									<th>Project id</th>
									<th>Project Name</th>
									<th>Division</th>
									<th>Table Code</th>
									<th>Progress</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody class="middle-align" ng-repeat = "item in tbl_data | filter : searchkey">
								
									<tr>
									<td>{{$index+1}}</td>
									<td>{{item.project_id}}</td>
									<td>{{item.project_name}}</td>
									<td>{{item.div_town_name}}</td>
									<td>{{item.table_desc}}</td>
									<td>{{item.progress}}</td>
									<td>	
										<button ng-click="view(item)" ng-model="dat" class="btn btn-info btn-sm btn-icon icon-left">
											View
										</button>
									</td>
								</tr>	
							</tbody>
						</table>
				</div>

				<div ng-show="progress_selected_details">
					<div class="row" >
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<table class="table table-bordered table-striped" id="example-2">
								
								<tr>
									<th>Project Name : </th>
									<td><strong>{{smry_data.project_name}}</strong></td>
								</tr>
								<tr>
									<th>Discom Name : </th>
									<td><strong>{{smry_data.discom_name}}</strong></td>
								</tr>
								<tr>
									<th>Zone Name :</th>
									<td><strong>{{smry_data.zone_name}}</strong></td>
								</tr>	
								<!-- <tr>
									<th>District Name :</th>
									<td><strong>{{smry_data.district_name}}</strong></td>
								</tr> -->	


								<tr>
									<th>Division : </th>
									<td><strong>{{smry_data.div_town_name}}</strong></td>
								</tr>
								<tr>
									<th>Circle : </th>
									<td><strong>{{smry_data.circle_name}}</strong></td>
								</tr>
								<tr>
									<th>Cable Type : </th>
									<td><strong>{{smry_data.cable_type}}</strong></td>
								</tr>	
								<tr>
									<th>Image Path :</th>
									<td><strong>{{smry_data.image_path}}</strong></td>
								</tr>

								<tr>
									<th>Progress : </th>
									<td><strong>{{smry_data.progress}}</strong></td>
								</tr>
								<tr>
									<th>Table Description : </th>
									<td><strong>{{smry_data.table_desc}}</strong></td>
								</tr>
								<tr>
									<th>Comments : </th>
									<td><strong>{{smry_data.comments}}</strong></td>
								</tr>	
							</table>
						</div>
						<hr>	
						<div class="col-sm-12 thumbnail" ng-show="progress_images">
					        <a href="">
					          <img src="{{progress_img}}" alt="image" width="180" height="180">
					          <div class="caption" align="center">
					            <p><strong>{{img_name}}</strong></p>
					          </div>
					        </a>
					    </div>
						
					</div>
					
							
						
					<hr>
					<div align="center">
						<button ng-click="approve()" id="approve" class="btn btn-info btn-sm btn-icon icon-left">Approve</button>
						<button ng-click="reject()" id="reject" class="btn btn-danger btn-sm btn-icon icon-left">Reject</button>
						<button ng-click="cancel()" id="cancel" class="btn btn-danger btn-sm btn-icon icon-left">Cancel</button>
					</div>
				
			</div>


				<div ng-show="progress_edit_details">
					<div class="row" >
						<div class="col-sm-1"></div>
						<div class="col-sm-10">
							<table class="table table-bordered table-striped" id="example-2">
								
								<tr>
									<th>Project Name : </th>
									<td><strong>{{smry_data.project_name}}</strong></td>
								</tr>
								<tr>
									<th>Discom Name : </th>
									<td><strong>{{smry_data.discom_name}}</strong></td>
								</tr>
								<tr>
									<th>Zone Name :</th>
									<td><strong>{{smry_data.zone_name}}</strong></td>
								</tr>	
								<tr>
									<th>District Name :</th>
									<td><strong>{{smry_data.district_name}}</strong></td>
								</tr>	


								<tr>
									<th>Division : </th>
									<td><strong>{{smry_data.div_town_name}}</strong></td>
								</tr>
								<tr>
									<th>Circle : </th>
									<td><strong>{{smry_data.circle_name}}</strong></td>
								</tr>
								<tr>
									<th>Cable Type : </th>
									<td><strong>{{smry_data.cable_type}}</strong></td>
								</tr>	
								<tr>
									<th>Image Path :</th>
									<td><strong>{{smry_data.image_path}}</strong></td>
								</tr>

								<tr>
									<th>Progress : </th>
									<td><input class="form-control" ng-model="smry_data.progress" placeholder=""/></td>
								</tr>
								<tr>
									<th>Table Description : </th>
									<td><strong>{{smry_data.table_desc}}</strong></td>
								</tr>
								<tr>
									<th>Comments : </th>
									<td>
										<script type="text/javascript">
											jQuery(document).ready(function($)
											{
												$("#comments_type").select2({
													placeholder: '-- Select Comments --',
													allowClear: true
												}).on('select2-open', function()
												{
													// Adding Custom Scrollbar
													$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
												});
											});
										</script>   
								        <select ng-model="smry_data.comments" 
								                ng-options="obj as obj.com_details for obj in comments_list"
								                class="form-control"
								                ng-required="false"
								                id="comments_type">
								          	<option value="">-- Select Progress Type --</option>
								        </select>     
									</td>
								</tr>	
								<!-- <tr>
									<th>Image Path :</th>
									<td>1234567890</td>
								</tr> -->		

							</table>

						</div>
					
						</div><br/><br/>
						<div align="center">
							<button ng-click="submit()" id="submit" class="btn btn-info btn-sm btn-icon icon-left">Submit</button>
							<button ng-click="cancel()" id="cancel" class="btn btn-danger btn-sm btn-icon icon-left">Cancel</button>
						</div>
				
			</div>
		</div>
	</form>
</div>