<page-title ng-if="layoutOptions.pageTitles" title="Assign Field Engineer" description=""></page-title>
<div class="panel panel-default" ng-show="table">
	<div class="panel-body">
		<table class="table table-bordered table-striped" id="example-2">
			<thead>
				<tr>
					<th>S/N</th>
					<th>Project Name</th>
					<th>Project ID</th>
					<th>Project Name</th>
					<th>Start Date</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody class="middle-align" ng-repeat = "proj in proj_list | filter : searchkey">
				
					<tr>
					<td>{{$index+1}}</td>
					<td>{{proj.project_name}}</td>
					<td>{{proj.project_id}}</td>
					<td>{{proj.project_name}}</td>
					<td>{{proj.sdate}}</td>
					<td>{{proj.status}}</td>
					<td>	
						<button ng-click="assign(proj)" ng-model="dat" class="btn btn-info btn-sm btn-icon icon-left">
							Assign
						</button>
					</td>
				</tr>	
			</tbody>
		</table>
	</div>
</div>

<!--FOR FIELD ENGINEER -->
<div ng-show = 'form'>

	<div >
		<h3>Project details</h3><br /><br />
		
		<!-- Tabs Content -->
		<div>

			<div class="row">   
				<div class="col-md-6">
				    <div class="form-group">
				    	<label class="control-label">Project Name : <strong>{{data.project_name}}</strong></label>
				    </div>
				</div>
				<div class="col-md-6">
				    <div class="form-group">
				    	<label class="control-label">Scheme Name : <strong>{{data.scheme_name}}</strong></label>
				    </div>
				</div> 
		    </div>	

			<div class="row">   
				<div class="col-md-6">
				    <div class="form-group">
				    	<label class="control-label">Start Date : <strong>{{data.start_date}}</strong></label>
				    </div>
				</div>
				<div class="col-md-6">
				    <div class="form-group">
				    	<label class="control-label">End Date : <strong>{{data.end_date}}</strong></label>
				    </div>
				</div> 
		    </div><br />
			
			<div class="row">
				<div class="form-group">
				    <div class="col-sm-5">
				    	<span>Division Name</span>
					    <script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#devision-fe").select2({
									placeholder: '-- Select Division --',
									allowClear: true
								}).on('select2-open', function()
								{
									// Adding Custom Scrollbar
									$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
								});
								
							});
						</script>     
				        <select ng-model="proj_dtls.divison" 
				                ng-options="obj as obj.div_town_name for obj in division_list track by obj.div_town_id"
				                ng-change="getFieldEngg()"
				                class="form-control"
				                ng-required="false"
				                id="devision-fe">
				          	<option value=""></option>
				        </select>      
				    </div>

				    <div class="col-sm-1"></div>
					<div class="col-sm-5"> 
						<span>Field Engineer</span>
					    <script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#field-02").select2({
									placeholder: '-- Select Field Engineer --',
									allowClear: true
								}).on('select2-open', function()
								{
									
									$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
								});	
							});
						</script>
						<select class="form-control" 
								id="field-02" 
								ng-model="proj_dtls.engineer" 
				                ng-options="x as x.fname+' '+x.lname for x in engineer track by x.uid"
				                class="form-control"
				                ng-required="true">
					          <option value=""></option>
					    </select>     
				    </div>
				</div>				
			</div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

			<div class="form-group" align="center">
				<button type="submit" ng-click= "cancel()" class="btn btn-primary">Cancel</button>
				<button type="submit" ng-click= "save()" class="btn btn-primary">Submit</button>
			</div>
		</div>		
	</div>
</div>

