<div class="login-container">

	<div class="row">

		<div class=" col-sm-6" style="background-color: #fefefe;border-radius:5px;" class="float-left">

			<script type="text/javascript">

				jQuery(document).ready(function($)
				{
					// Reveal Login form
					setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);


					// Validation and Ajax action
					$("form#login").validate({
						rules: {
							empid: {
								required: true
							},

							email: {
								required: true
							}
						},

						messages: {
							empid: {
								required: 'Please enter your employee id.'
							},

							email: {
								required: 'Please enter your registered email.'
							}
						},
						submitHandler: function(form)
						{
							showLoadingBar(95); // Fill progress bar to 70% (just a given value)

							var opts = {
								"closeButton": true,
								"debug": false,
								"positionClass": "toast-top-full-width",
								"onclick": null,
								"showDuration": "300",
								"hideDuration": "1000",
								"timeOut": "5000",
								"extendedTimeOut": "1000",
								"showEasing": "swing",
								"hideEasing": "linear",
								"showMethod": "fadeIn",
								"hideMethod": "fadeOut"
							};
							console.log("hi")
							var form_data = {};
							form_data.empid = $(form).find('#empid').val();
							form_data.email = $(form).find('#email').val();


							$.ajax({
								url: "/forgotPassword",
								method: 'POST',
								/*dataType: 'json',*/
								data: form_data,
								success: function(data,err)
								{
									showLoadingBar({
										delay: .5,
										pct:100,
										finish: function(){

											// Redirect after successful login page (when progress bar reaches 100%)
											if(err)
											{
												window.location.hash = '#/app/login';
												toastr.success("Form Successfully Submitted", "successful!", opts);
												//$('body').removeClass('login-page login-light lockscreen-page');
											}
											else
											{
												toastr.success("Failed to submit", "Failed!", opts);
											}
										}
									});

								},

							});

						}
					});
				});


			</script>

			
			<!-- Errors container -->
			<div class="errors-container">
			</div>

			<form method="post" role="form" id="login" class="login-form fade-in-effect">

				<div class="login-header center-block">
					<a href="#/app/login" class="logo">
						<img src="assets/images/mlogo.png" alt="" width="80" class="pull-right" />
						<img src="assets/images/medhavi.png" class="img-responsive m-pad" width="200" />
					</a>

				</div>


				<div class="form-group">
					<label class="control-label" for="username">Employee id</label>
					<input type="text" class="form-control input-dark" name="empid" id="empid" autocomplete="off" />
				</div>

				<div class="form-group">
					<label class="control-label" for="passwd">Email</label>
					<input type="text" class="form-control input-dark" name="email" id="email" autocomplete="off" />
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-dark btn-block text-left">
						<i class="fa-lock"></i>
						Send
					</button>
				</div>
			</form>
		</div>
	</div>
</div>