<page-title ng-if="layoutOptions.pageTitles" title="Trip Tracking" description="Track the travel details">

</page-title>


<div class="google-map-env fill">
    <!-- Map Toolbar -->
    <div class="map-toolbar">
        <div class="row">
            <div class="col-md-4">
                <span>User Name</span>
                <script type="text/javascript">
                    jQuery(document).ready(function($) {
                        $("#field_eng").select2({
                            placeholder: '-- Select User --',
                            allowClear: true
                        }).on('select2-open', function() {
                            // Adding Custom Scrollbar
                            $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
                        });
                    });
                </script>
                <select ng-model="map.uid" ng-options="x.fname+ '' +x.lname for x in map.user_list track by x.user_id" class="form-control field_eng" ng-change="getTripSession()" ng-required="true" id="field_eng">
					<option value=""></option>
				</select>
            </div>

            <div class="col-md-4">
                <span>Session</span>
                <script type="text/javascript">
                    jQuery(document).ready(function($) {
                        $("#travel_session").select2({
                            placeholder: '-- Select Trip-id --',
                            allowClear: true
                        }).on('select2-open', function() {
                            // Adding Custom Scrollbar
                            $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
                        });
                    });
                </script>
                <select ng-model="map.date_time" ng-options="x as x.session_id for x in map.sess_list" class="form-control travel_session" ng-required="true" id="travel_session">
					<option value=""></option>
				</select>
            </div>

            <div class="col-md-4">
                <br/>

                <a href="" class="btn btn-info" id="go">Send</a>
                <a href="" class="btn btn-info" id="reset">Reset</a> &nbsp;

                <div class="btn-group">
                    <button type="button" class="btn btn-white" id="map-unzoom">-</button>
                    <button type="button" class="btn btn-white" id="map-resetzoom">Reset</button>
                    <button type="button" class="btn btn-white" id="map-zoom">+</button>
                </div>


            </div>
        </div>

        <div class="row" id="map_detail_info">
            <table class="table table-bordered table-striped" id="mapTable">
                <thead>
                    <tr>
                        <th>Trip id</th>
                        <th>Start Point</th>
                        <th>End Point</th>
                        <th>Distance Covered</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="middle-align">

                    <tr>
                        <td id="td1"></td>
                        <td id="td3"></td>
                        <td id="td4"></td>
                        <td id="td5"></td>
                        <td id="td6"></td>
                        <td id="td7">
                            <button id="approve" class="btn btn-info btn-sm btn-icon icon-left">Approve</button>
                            <button id="reject" class="btn btn-danger btn-sm btn-icon icon-left">Reject</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="gmap full-page-google-map">
        <div id="map-1"></div>
    </div>

</div>

<script type="text/javascript">
    var startpoint;
    var endpoint;
    var neighborhoods;
    var pathArr = [];
    var tbl_data = {}
    var apiKey = "AIzaSyDW8_pNfHwAjbYORMGZx6co5fvDxFJ6iLU";

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                }
                console.log(pos)
                startpoint = pos.lat;
                endpoint = pos.lng;
            })
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
    }
    


    $('#map_detail_info').hide();

    var lats = [];
    var longs = [];

    $('#go').on('click', function() {

        var data = $('#travel_session').select2('data')
        console.log(data.text);
        console.log(data.id);
        var fe = $('.map-toolbar').find('#field_eng').select2('data').text;
        var sess = $('.map-toolbar').find('#travel_session').select2('data').text;

        var scopeData = angular.element("#field_eng").scope().map.user_list;
        console.log('++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
        console.log(scopeData)

        var results = [];

        var toSearch = $('.map-toolbar').find('#field_eng').select2('data').text;
        var fe_selected_fname = $.trim(toSearch).toString();
        console.log(fe_selected_fname)


        

        for (var i = 0; i < scopeData.length; i++) {
            console.log("@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@")
            console.log(scopeData)
            for (key in scopeData[i]) {      
                results.push(scopeData[i].user_id);
                console.log(results)            
            }
        }

        var fe_selected_id;

        scopeData.forEach(function(item){
            console.log('{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}')
            var name = item.fname+item.lname
            var str1 =$.trim(name).toString();
            var str2 =$.trim(fe_selected_fname).toString();
            console.log(str1)
            console.log(str2) 
            var n = str1.localeCompare(str2);
            console.log('n = '+ ' '+ n)
            if(str1 == str2){
                console.log('you have done it')
                 fe_selected_id =item.user_id;
            }else{
                return
            }
        }) 

        if (fe != "" && sess != "" && fe != undefined && sess != undefined) {
            $.ajax({
                url: "/map_data",
                type: "POST",
                data: {
                    field_eng: fe_selected_id,
                    session_id: $('.map-toolbar').find('#travel_session').select2('data').text
                },
                dataType: "json",
                success: function(response) {

                    $('#go').attr("disabled", true);
                    $('#travel_session').attr("disabled", true);
                    $('#field_eng').attr("disabled", true);
                    $('#map_detail_info').show();
                    $('#map-1').show();
                    tbl_data.field_eng = $('.map-toolbar').find('#field_eng').select2('data').text;
                    tbl_data.session_id = $('.map-toolbar').find('#travel_session').select2('data').text;
                    var locationArr = response;
                    
                    locationArr.forEach(function(item) {
                        console.log(locationArr)
                        var x = item.gps_lat.replace(/[{}]/g, '');
                        var y = item.gps_long.replace(/[{}]/g, '');
                        lats = x.split(",")
                        longs = y.split(",")
                        console.log("---------------------------------")
                        console.log(x)
                        console.log(longs)
                        var sdate = item.insert_dttm;
                        var sdateArray = sdate.split("T")
                        var sdateonly = sdateArray[0]
                        tbl_data.insert_dttm = sdateonly;
                    })



                    loadGoogleMaps(3, apiKey).done(function() {

                        var map;
                        var setval;
                        var geocoder = new google.maps.Geocoder();

                        var markers = [];
                        var flightPlanCoordinates = [];
                        var iterator = 0;

                        var current_location = new google.maps.LatLng(startpoint, endpoint);
                        console.log(startpoint + "," + endpoint)
                        console.log(neighborhoods)
                        var s_lats = {};
                        var s_longs = {};


                        console.log(s_longs + "" + s_lats)
                        console.log("The length is:"+lats.length)
                        console.log(lats)
                        neighborhoods = [];

                        for (var i = 0; i < lats.length; i++) {

                            var finalval = new google.maps.LatLng(lats[i], longs[i]);
                            var final_tblVal = {
                                lat: parseFloat(lats[i]),
                                lng: parseFloat(longs[i])
                            }
                            var n = lats.length;

                            console.log(finalval)

                            neighborhoods.push(finalval)
                            pathArr.push(final_tblVal)

                            tbl_data.start = parseFloat(lats[0])+ " " +parseFloat(longs[0])
                            tbl_data.end = parseFloat(lats[n-1])+ " " +parseFloat(longs[n-1])          

                        }
                        
                        function initialize() {
                            var mapOptions = {
                                mapTypeId: google.maps.MapTypeId.ROADMAP,
                                zoom: 15,
                                center: current_location,

                            };

                            // Calculate Height
                            var el = document.getElementById('map-1'),
                                doc_height =
                                $(document).height() - 10 -
                                $(".main-content > .user-info-navbar").outerHeight() -
                                $(".main-content > .page-title").outerHeight() -
                                $(".google-map-env .map-toolbar").outerHeight();

                            // Adjust map height to fit the document contianer
                            el.style.height = doc_height + 'px';

                            map = new google.maps.Map(el, mapOptions);
                            for (var i = 0; i < pathArr.length - 1; i++) {
                                var pos1 = new google.maps.LatLng(pathArr[i].lat, pathArr[i].lng);
                                var pos2 = new google.maps.LatLng(pathArr[i + 1].lat, pathArr[i + 1].lng);
                                calculateRoute(pos1, pos2);
                            };
                        


                        }

                        var ppp = 0;

                        function calculateRoute(from, to) {
                            var directionsService = new google.maps.DirectionsService();
                            var directionsRequest = {
                                origin: from,
                                destination: to,
                                travelMode: google.maps.DirectionsTravelMode.DRIVING,
                                unitSystem: google.maps.UnitSystem.IMPERIAL,
                                avoidHighways: false,
                                avoidTolls: false
                            };


                            directionsService.route(
                                directionsRequest,
                                function(response, status) {
                                    if (status == google.maps.DirectionsStatus.OK) {
                                        new google.maps.DirectionsRenderer({
                                            map: map,
                                            directions: response
                                        });
                                        ppp = ppp + response.routes[0].legs[0].distance.value
                                        console.log(response.routes[0].legs[0])
                                        var dist = ppp / 1000;
                                        $('#map_detail_info #td5').html(dist+ " " + "km");
                                        tbl_data.distance = ppp;
                                    } else{
                                        //tbl_data.distance = 0;
                                        alert('Unable to retrieve your route');
                                    }
                                }
                            );
                        }

                        initialize();

                        $('#map_detail_info #td1').html(tbl_data.session_id);
                        $('#map_detail_info #td2').html(tbl_data.field_eng);
                        $('#map_detail_info #td3').html(tbl_data.start);
                        $('#map_detail_info #td4').html(tbl_data.end);
                        $('#map_detail_info #td6').html(tbl_data.insert_dttm);

                        $("#map-unzoom").on('click', function(ev) {
                            ev.preventDefault();

                            map.setZoom(map.getZoom() - 1);
                        });

                        $("#map-resetzoom").on('click', function(ev) {
                            ev.preventDefault();

                            map.setZoom(12);
                        });

                        $("#map-zoom").on('click', function(ev) {
                            ev.preventDefault();

                            map.setZoom(map.getZoom() + 1);
                        });
                    });




                },

                error: function(error) {
                    console.log(error);
                }

            });
        } else {
            console.log("error")
        }
    })



    $("#approve").click(function() {
        var approved_data = {}
        var tr = $(this).closest('tr');
        approved_data.session = tr.find('#td1').text();
        approved_data.start_pt = tr.find('#td2').text();
        approved_data.end_pt = tr.find('#td3').text();
        approved_data.distance = tr.find('#td4').text();
        approved_data.date = tr.find('#td5').text();
        console.log(approved_data)


        $.ajax({
            url: "/approve_map_table",
            type: "POST",
            data: approved_data,
            dataType: "json",
            success: function(response) {
                console.log(response)
                toastr.success('Updated approved data ', 'Successfully!', {
                    timeOut: 5000
                });

            },
            error: function(error) {
                console.log(error)
                toastr.error('No data Found', 'Failed!', {
                    timeOut: 1000
                });
            }
        });
    })

    $("#reject").click(function() {
        var reject_data = {}
        var tr = $(this).closest('tr');
        reject_data.session = tr.find('#td1').text();
        reject_data.start_pt = tr.find('#td2').text();
        reject_data.end_pt = tr.find('#td3').text();
        reject_data.distance = tr.find('#td4').text();
        reject_data.date = tr.find('#td5').text();
        console.log(reject_data)


        $.ajax({
            url: "/reject_map_table",
            type: "POST",
            data: reject_data,
            dataType: "json",
            success: function(response) {
                console.log(response)
                toastr.success('Status changed to reject', 'Successfully!', {
                    timeOut: 5000
                });

            },
            error: function(error) {
                console.log(error)
                toastr.error('No data Found', 'Failed!', {
                    timeOut: 1000
                });
            }
        });
    })
    $("#travel_session").select2({})
    .on('change',function(){
                            pathArr = [];
                            $('#map_detail_info').hide();
                            $('#map-1').hide();
                        });
 $("#field_eng").select2({})
    .on('change',function(){
                            pathArr = [];
                            $('#map_detail_info').hide();
                            $('#map-1').hide();
                        });

$('#reset').on('click', function(ev) {
    ev.preventDefault();
    pathArr = [];
    $('#map_detail_info').hide();
    $('#map-1').hide();
    $('#go').attr("disabled", false);
    $('#travel_session').attr("disabled", false);
    $('#field_eng').attr("disabled", false);
    $('.map-toolbar').find('#field_eng').select2("val", "");
    $('.map-toolbar').find('#travel_session').select2("val", "");

})




    /* ----------------------------------------- Map -------------------------------------------------*/
</script>