<div class="row">
	<div class="col-sm-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New User Registration</h3>
			</div>
			<div class="panel-body">

				<form role="form" class="form-horizontal" role="form">

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">First Name</label>

						<div class="col-sm-5">
							<input type="text" class="form-control" ng-model="addnew.fname" id="field-1" placeholder="First Name">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">Last Name</label>

						<div class="col-sm-5">
							<input type="text" class="form-control" ng-model="addnew.lname" id="field-1" placeholder="Last Name">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">Employee Code</label>

						<div class="col-sm-5">
							<input type="text" class="form-control" ng-model="addnew.empid" id="field-1" placeholder="Employee Code">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">Mobile Number</label>

						<div class="col-sm-5">
							<input type="text" class="form-control" ng-model="addnew.phone" id="field-1" placeholder="Mobile Number">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">Office Email</label>

						<div class="col-sm-5">
							<input type="text" class="form-control" ng-model="addnew.offemail" id="field-1" placeholder="Office Email">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-2">Password</label>

						<div class="col-sm-10">
							<input type="password" class="form-control" ng-model="addnew.password" id="field-2" placeholder="Password" disabled>
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<button type="button" ng-click="RegisterNewUser()" class="btn btn-info btn-single pull-right">Create User</button>
					</div>
					    <!-- <script src="app/js/my-page/my-page.js"></script> -->

				</form>
			</div>
		</div>
	</div>
</div>




<div class="row">
	<div class="col-sm-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Create New Project</h3>
			</div>
			<div class="panel-body">

				<form role="form" class="form-horizontal" role="form">
					<div class="row">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="field-1">Select Scheme</label>
						<div class="col-sm-4">
							<select ng-model="addnew.role" ng-options="x for x in role">
                  			</select>
						</div>

							<label class="col-sm-2 control-label" for="field-1">Project Type</label>
							<div class="col-sm-4">
								<select ng-model="addnew.role" ng-options="x for x in role">
                  				</select>
							</div>
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">Project Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" ng-model="addnew.empid" id="field-1" placeholder="Project Name">
						</div>
						<label class="col-sm-2 control-label" for="field-1">Project ID</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" ng-model="addnew.empid" id="field-1" placeholder="Project ID">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">Mobile Number</label>

						<div class="col-sm-5">
							<input type="text" class="form-control" ng-model="addnew.phone" id="field-1" placeholder="Mobile Number">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-1">Office Email</label>

						<div class="col-sm-5">
							<input type="text" class="form-control" ng-model="addnew.offemail" id="field-1" placeholder="Office Email">
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label" for="field-2">Password</label>

						<div class="col-sm-10">
							<input type="password" class="form-control" ng-model="addnew.password" id="field-2" placeholder="Password" disabled>
						</div>
					</div>

					<div class="form-group-separator"></div>

					<div class="form-group">
						<button type="button" ng-click="RegisterNewUser()" class="btn btn-info btn-single pull-right">Create User</button>
					</div>
					    <!-- <script src="app/js/my-page/my-page.js"></script> -->

				</form>
			</div>
		</div>
	</div>
</div>