<div ng-show="proj_creation">
	<page-title ng-if="layoutOptions.pageTitles" title="Create New Project" description=""></page-title>

	<!-- Form wizard with validation starts here -->
	<!-- <h3 class="text-gray">
		Form Wizard with Validation <br />
		<small class="text-muted">add class <strong>validate</strong> to the form</small>
	</h3>
	<br /> -->

	<form role="forl" id="rootwizard" class="form-wizard validate" novalidate>
		
		<ul class="tabs">
			<li class="active">
				<a href="#fwv-1" data-toggle="tab">
					Scheme & Project
					<span>1</span>
				</a>
			</li>
			<li>
				<a href="#fwv-2" data-toggle="tab">
					Project details
					<span>2</span>
				</a>
			</li>
			<li>
				<a href="#fwv-3" data-toggle="tab">
					TKC Selection
					<span>3</span>
				</a>
			</li>
			<li>
				<a href="#fwv-4" data-toggle="tab">
					Date
					<span>4</span>
				</a>
			</li>
			<li>
				<a href="#fwv-5" data-toggle="tab">
					Members
					<span>5</span>
				</a>
			</li>
			<li>
				<a href="#fwv-6" data-toggle="tab">
					Summary
					<span>6</span>
				</a>
			</li>
		</ul>
		
		<div class="progress-indicator">
			<span></span>
		</div>
		
		<div class="tab-content no-margin">
			
			<!-- Tabs Content -->
			<div class="tab-pane with-bg active" id="fwv-1">

				<div class="row">	
					<div class="col-md-5">
						<div class="form-group">
							<span>Project Name</span>
							<input class="form-control" ng-model="project.projectname" data-validate="required" placeholder="Project Name"/>
						</div>
					</div>
					<div class="col-sm-1"></div>
					<div class="col-md-5">
						<div class="form-group">
							<span>Project ID :</span>
							<strong>{{project.pid}}</strong>
						</div>
					</div>
				</div><br/><br/>
   
				<div class="row">    
				    <div class="form-group">
				    	<div class="col-md-5">
				      		<span>Scheme Name </span>
						    <script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#s2example-01").select2({
										placeholder: '-- Select Scheme Name --',
										allowClear: true
									}).on('select2-open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
									});
									
								});
							</script>
							<select class="form-control" 
									id="s2example-01" 
									ng-model="project.scheme"                
					                ng-options="obj as obj.scheme_name for obj in schemes track by obj.scheme_id"
					                ng-change="getCompany()"
					                class="form-control" 
					                ng-required="true">
						          <option value=""></option>
						    </select>             			     	
				    	</div>
					    <div class="col-sm-1"></div>
					    <div  class="col-md-5">
					    	<span>Project Type :<strong>{{project.scheme.scheme_type}}</strong></span>
					    </div>
			    	</div>			
				</div>
			</div>	

			<div class="tab-pane with-bg" id="fwv-2">
				
				<div class="row">
					<div class="form-group">
					    <div class="col-sm-5"> 
					    	<span>Company Name </span> 
						    <script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#s2example-02").select2({
										placeholder: '-- Select Company Name --',
										allowClear: true
									}).on('select2-open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
									});
									
								});
							</script>
							<select class="form-control" 
									id="s2example-02" 
									ng-model="project.company" 
					                ng-options="x as x.company_name for x in companies track by x.company_id"
					                ng-change = "getDiscom()"
					                class="form-control"
					                ng-required="true">
						          <option value=""></option>
						    </select>         
					    </div>

					    <div class="col-sm-1"></div>
					    
					    <div class="col-sm-5">     
					    	<span>Discom name </span> 
						    <script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#s2example-03").select2({
										placeholder: '-- Select zone Name --',
										allowClear: true
									}).on('select2-open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
									});
									
								});
							</script>
							<select class="form-control" 
									id="s2example-03" 
									ng-model="project.discom"
					                ng-options="x as x.discom_name for x in discoms track by x.discom_id"
					                ng-change = "getZone()"
					                class="form-control" 
					                ng-required="true">
						          <option value=""></option>
						    </select>     
					    </div>
				    </div>
				</div><br /><br />

				<div class="row">
					<div class="form-group">
				      <div class="col-sm-5">  
				      	<span>Zone Name </span>    
						<script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#s2example-1").select2({
									placeholder: 'Select Zone',
									allowClear: true
								}).on('select2-open', function()
								{
									// Adding Custom Scrollbar
									$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
								});
								
							});
						</script>
						<select class="form-control" 
									id="s2example-1" 
									ng-model="project.zone" 
					                ng-options="x as x.zone_name for x in zones track by x.zone_id"
					                ng-change = "getCircle()"
					                class="form-control"
					                ng-required="true"
					                multiple>
					          <option value="">-- Choose zone --</option>
					    </select>    
				      </div>
				    
				      <div class="col-sm-1"></div>
				    			      
				      <div class="col-sm-5"> 
				      	<span>Circle Name</span>
						    <script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#s2example-2").select2({
										placeholder: '-- Select Circle Name --',
										allowClear: true
									}).on('select2-open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
									});
									
								});
							</script>
							<select class="form-control" 
									id="s2example-2" 
									ng-model="project.circle"
					                ng-options="x as x.circle_name for x in circles track by x.circle_id"
					                ng-change = "getDivision()"
					                class="form-control" 
					                ng-required="true"
					                multiple>
						          <option value=""></option>
						    </select>    
				      </div>
				    </div>
				</div><br/><br/>
<!-- 				<div class="row">   
			      <div class="col-sm-5">  
			      	<span>District Name</span>     
					    <script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#s2example-3").select2({
									placeholder: '-- Select District Name --',
									allowClear: true
								}).on('select2-open', function()
								{
									// Adding Custom Scrollbar
									$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
								});
								
							});
						</script>
						<select class="form-control" 
								id="s2example-3" 
								ng-model="project.district"
				                ng-options="x as x.district_name for x in districts track by x.district_id"
				                ng-change = "getDivision()"
				                class="form-control" 
				                ng-required="true"
				                multiple>
					          <option value=""></option>
					    </select> 			           
			      </div>
			      <div class="col-sm-1"></div>
				</div><br /><br /> -->

<!-- 				<div class="row" ng-show="project.table == 'mtcpl_urban_hier'">
					<div class="form-group">
					    <div class="col-sm-6"> 
					    	<label for="state" class=" control-label">Division </label>    
					        <select ng-model="project.pro_loc_id" 
					                ng-options="x as x.division_name for x in division track by x.division_id"
					                ng-change = "getSubDivision()"
					                class="form-control"
					                ng-required="true"
					                id="state">
					          	<option value="">-- Choose Division --</option>
					        </select>      
					    </div>

					    <div class="col-sm-6">     
					    	<label for="city" class=" control-label">Sub-Division </label>  
					        <select  ng-model="project.pro_loc_sub_id"
					                ng-options="x as x.sub_division_name for x in sub_division track by x.sub_division_id"
					                
					                class="form-control" 
					                ng-required="true"
					                id="city">
					          <option value="">-- Choose Sub-Division --</option>
					        </select>      
					    </div>
				    </div>
				</div><br /><br /> -->

				<div class="row" ng-show="project.table == 'mtcpl_rural_hier'">
					<div class="form-group">
					    <div class="col-sm-6"> 
					    	<label for="state" class=" control-label">Village Name </label>    
					        <select ng-model="project.pro_loc_id" 
					                ng-options="x as x.village_name for x in villages track by x.village_id"
					                ng-change = "getMajra()"
					                class="form-control"
					                ng-required="true"
					                id="state">
					          	<option value="">-- Choose Village --</option>
					        </select>      
					    </div>

					    <div class="col-sm-6">     
					    	<label for="city" class=" control-label">Majra Name</label>  
					        <select  ng-model="project.pro_loc_sub_id"
					                ng-options="x as x.majra_name for x in majras track by x.majra_id"
					                
					                class="form-control" 
					                ng-required="true"
					                id="city">
					          <option value="">-- Choose Majra --</option>
					        </select>      
					    </div>
				    </div>
				</div><br /><br />
			</div>

			<div class="tab-pane with-bg" id="fwv-3">
				<div align="center">
					<strong>Select TKCs Per Division</strong>
					<br />
					<br />
				</div>
			    <script type="text/javascript">
					jQuery(document).ready(function($)
					{
						var change1 = $('#change'+1+'');
						$(change1).select2({
							placeholder: '-- Select District Name --',
							allowClear: true
						}).on('select2-open', function()
						{
							// Adding Custom Scrollbar
							$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
						});
						
					});
				</script>
				<div class="row">
					<div class="col-sm-5" ng-repeat = "d in division">
						{{d.division_name}}
							<li style="list-style-type: none;">
							<select 
								id="change{$$index$}"
								class="form-control div_tkc"
								ng-change="getParent($index, d.selectedX)"
								ng-options= "x as x.tkc_name for x in d.tkcs"							            
					            ng-model="d.selectedX"
					            multiple>
								<option value=""></option>
							</select>	
						</li><br/><br/>
						<!-- </li> -->
					</div>
					<div class="col-sm-1"></div><br/><br/>
				</div><br /><br /><!-- {{selected | json}} -->
			</div>
			
			<div class="tab-pane with-bg" id="fwv-4">
				
				<strong>Time Duration</strong>
				<br />
				<br />

				
				<div class="row">
					
					<div class="col-md-6">
						<div class="form-group">
							<span>Start Date</span>
							<input type="date" class="form-control" ng-model="project.sdate" id="start" 
							max="{{maxi.currentDate | date: 'yyyy-MM-dd'}}"
							 />
						</div>
					</div>
				</div><br/><br/>
				<div class="row">
					
					<div class="col-md-6">
						<div class="form-group">
							<span>Start Date</span>
							<input type="date" class="form-control" ng-model="project.edate" id="start" 
							min="{{mini.currentDate | date: 'yyyy-MM-dd'}}"
							 />
						</div>
					</div>
					
				</div>
				
				<br />
				
<!-- 				<div class="row">
					
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label" for="other_qualifications"><strong>Remarks</strong></label>
							<textarea class="form-control autogrow" name="other_qualifications" id="other_qualifications" placeholder="Remarks If Any(Optional)"></textarea>
						</div>
					</div>
					
				</div> -->
				
			</div>
			
			<div class="tab-pane with-bg" id="fwv-5">
				<div class="row">
					<div class="form-group">
					    <div class="col-sm-6"> 
					    	<span>General Manager </span>    
						    <script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#s2example-5").select2({
										placeholder: '-- Select General Manager --',
										allowClear: true
									}).on('select2-open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
									});
									
								});
							</script>
							<select class="form-control" 
									id="s2example-5" 
									ng-model="project.generalmanager" 
					                ng-options="x as x.fname+' '+x.lname for x in generalmanager track by x.uid"
					                class="form-control"
					                ng-required="true">
						          <option value=""></option>
						    </select>   
					    </div>
					</div>
				</div><br/><br/>
				<div class="row">
					<div class="form-group">
					    <div class="col-sm-6">     
					    	<span>Co-ordinator</span>  
						    <script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#s2example-6").select2({
										placeholder: '-- Select Cordinators --',
										allowClear: true
									}).on('select2-open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
									});
									
								});
							</script>
							<select class="form-control" 
									id="s2example-6" 
									ng-model="project.cordinator"
					                ng-options="x as x.fname+' '+x.lname for x in cordinator track by x.uid"
					                class="form-control" 
					                ng-required="true"
					                multiple>
						          <option value=""></option>
						    </select>    
					    </div>
				    </div>
				</div><br /><br />


			</div>
				
			<div class="tab-pane with-bg" id="fwv-6">

				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-5">
						<table class="table table-bordered table-striped">
							<tr>
								<th>Project Name</th>
								<td>{{project.projectname}}</td>
							</tr>
							<tr>
								<th>Project ID</th>
								<td>{{project.pid}}</td>
							</tr>
							<tr>
								<th>Scheme Type</th>
								<td>{{project.scheme.scheme_type}}</td>
							</tr>
							<tr>
								<th>Company Name </th>
								<td>{{project.company.company_name}}</td>
							</tr>
							<tr>
								<th>Discom Name</th>
								<td>{{project.discom.discom_name}}</td>
							</tr>
							<tr>
								<th>Zone Name</th>
								<td class="parent">
									<table>
										<tbody ng-repeat="zon in project.zone">
											<tr>
												<td>{{$index+1}}.&nbsp;</td>
												<td>{{zon.zone_name}}</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<th>Circle Name</th>
								<td class="parent">
									<table>
										<tbody ng-repeat="cir in project.circle">
											<tr>
												<td>{{$index+1}}.&nbsp;</td>
												<td>{{cir.circle_name}}</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<th>District Name</th>
								<td class="parent">
									<table>
										<tbody ng-repeat="dis in project.district">
											<tr>
												<td>{{$index+1}}.&nbsp;</td>
												<td>{{dis.district_name}}</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</table>
					</div>
					<div class="col-sm-5">
						<table class="table table-bordered table-striped">
							<tr>
								<th>Start Date</th>
								<td>{{project.sdate}}</td>
							</tr>
							<tr>
								<th>End-Date(Expected)</th>
								<td>{{project.edate}}</td>
							</tr>
							<tr>
								<th>General Manager</th>
								<td>{{project.generalmanager.fname}}&nbsp;{{project.generalmanager.lname}}</td>
							</tr>
							<tr>
								<th>Co-ordinator</th>
								<td class="parent">
									<table>
										<tbody ng-repeat="cor in project.cordinator">
											<tr>
												<td>{{$index+1}}.&nbsp;</td>
												<td>{{cor.fname}}&nbsp;{{cor.lname}}</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</table>
					</div>
					<div class="col-sm-1"></div>
				</div><br/>
				
				<div class="form-group" align="right">
					<button type="submit" ng-click="save()" class="btn btn-primary">Finish Registration</button>
				</div>
				
			</div>

			<!-- Tabs Pager -->
			
			<ul class="pager wizard">
				<li class="previous">
					<a href=""><i class="entypo-left-open"></i> Previous</a>
				</li>
				
				<li class="next">
					<a href="">Next <i class="entypo-right-open"></i></a>
				</li>
			</ul>
			
		</div>
		
	</form>
	<script type="text/javascript">
		jQuery(document).ready(function($)
		{
			$(".multi-select").multiSelect({
				afterInit: function()
				{
					// Add alternative scrollbar to list
					this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
				},
				afterSelect: function()
				{
					// Update scrollbar size
					this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
				}
			});
			
			$(".selectboxit").selectBoxIt().on('open', function()
			{
				// Adding Custom Scrollbar
				$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
			});
		});
	</script>
</div>
<div ng-show="success" align="center">
	<h3><strong>Project Created Successfully!!!</strong></h3>
	<button ng-click="new()" class="btn btn-success btn-sm btn-icon">Create New Project</button>
</div>