<page-title ng-if="layoutOptions.pageTitles" title="Project Details" description=""></page-title>
<div class="panel panel-default" ng-show="table">
	<div class="panel-body">
<!-- 		<div class="navbar-form navbar-right" align="center">
			<input type="text" ng-model="searchkey" class="form-control" placeholder="Search">
		</div> -->

		<table class="table table-bordered table-striped" id="example-2">
			<thead>
				<tr>
					<th>S/N</th>
					<th>Project Name</th>
					<th>Project ID</th>
					<th>Project Type</th>
					<th>Start Date</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody class="middle-align" ng-repeat = "proj in proj_list | filter : searchkey">
				
					<tr>
					<td>{{$index+1}}</td>
					<td>{{proj.project_name}}</td>
					<td>{{proj.project_id}}</td>
					<td>{{proj.project_type}}</td>
					<td>{{proj.sdate}}</td>
					<td>{{}}</td>
					<td>	
						<button ng-click="edit(proj)" ng-model="dat" class="btn btn-info btn-sm btn-icon icon-left">
							Edit
						</button>
					</td>
				</tr>	
			</tbody>
		</table>
	</div>
</div>

<!--FOR URBAN HIER -->
<div ng-show = 'form'>
	<!-- <page-title ng-if="layoutOptions.pageTitles" title="Create New Project" description=""></page-title> -->

	<script type="text/javascript">
		jQuery(document).ready(function($)
		{
			$(".multi-select").multiSelect({
				afterInit: function()
				{
					// Add alternative scrollbar to list
					this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
				},
				afterSelect: function()
				{
					// Update scrollbar size
					this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
				}
			});
			
			$(".selectboxit").selectBoxIt().on('open', function()
			{
				// Adding Custom Scrollbar
				$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
			});
		});
	</script>

	<form role="forl" id="rootwizard" class="form-wizard validate" novalidate>
		
		<ul class="tabs">
			<li class="active">
				<a href="#fwv-1" data-toggle="tab">
					Project details
					<span>1</span>
				</a>
			</li>
			<li>
				<a href="#fwv-2" data-toggle="tab">
					Costing
					<span>2</span>
				</a>
			</li>
			<li>
				<a href="#fwv-3" data-toggle="tab">
					Existing Infrastructure
					<span>3</span>
				</a>
			</li>
			<!-- <li>
				<a href="#fwv-4" data-toggle="tab">
					33 kv line
					<span>4</span>
				</a>
			</li> -->
			<!-- <li>
				<a href="#fwv-5" data-toggle="tab">
					11 kv line
					<span>5</span>
				</a>
			</li> -->
			<!-- <li>
				<a href="#fwv-6" data-toggle="tab">
					Cumulative Progress
					<span>6</span>
				</a>
			</li> -->
			<!-- <li>
				<a href="#fwv-7" data-toggle="tab">
					Installation
					<span>7</span>
				</a>
			</li> -->
		</ul>
		
		<div class="progress-indicator">
			<span></span>
		</div>
		
		<div class="tab-content no-margin">
			
			<!-- Tabs Content -->
			<div class="tab-pane with-bg active" id="fwv-1">

				<div class="row">   
					<div class="col-md-6">
					    <div class="form-group">
					    	<label class="control-label">Project Name : <strong>{{data.project_name}}</strong></label>
					    </div>
					</div>
					<div class="col-md-6">
					    <div class="form-group">
					    	<label class="control-label">Discom Name : <strong>{{data.discom_name}}</strong></label>
					    </div>
					</div> 
			    </div>	

				<div class="row">   
					<div class="col-md-6">
					    <div class="form-group">
					    	<label class="control-label">Zone Name : <strong>{{data.zone_name}}</strong></label>
					    </div>
					</div>
					<div class="col-md-6">
					    <div class="form-group">
					    	<label class="control-label">District Name : <strong>{{data.district_name}}</strong></label>
					    </div>
					</div> 
			    </div>	

				<div class="row">   
					<div class="col-md-6">
					    <div class="form-group">
					    	<label class="control-label">Division : <strong>{{data.div_town_name}}</strong></label>
					    </div>
					</div>
					<div class="col-md-6">
					    <div class="form-group">
					    	<label class="control-label">Circle : <strong>{{data.circle_name}}</strong></label>
					    </div>
					</div> 
			    </div><br />
				
				<strong>Contractor</strong>
				<br />
				<br />
				
				<div class="row">
					<div class="form-group">
					    <div class="col-sm-12"> 
					    	<label for="state" class=" control-label">TurnKey Contractor</label>    
					        <select ng-model="proj_dtls.tkc" 
					                ng-options="obj as obj.tkc_name for obj in tkc_list track by obj.tkc_id"
					                class="form-control"
					                ng-required="false"
					                id="state">
					          	<option value="">-- Select TKC --</option>
					        </select>      
					    </div>
				    </div>
				</div><br /><br />

				<strong>Date</strong>
				<br />
				<br />

				<div class="row">
					
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Date of Letter of Award</label>
							<input class="form-control datepicker" ng-model="proj_dtls.doa" data-start-view.doa placeholder="(Optional)" />
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group">
						<label class="control-label" for="prim_date_end">Date of Contract Agreement Executed between PIA & TKC</label>
							<input class="form-control datepicker"  ng-model="proj_dtls.doc" data-start-view.doc placeholder="(Optional)" />
						</div>
					</div>
					
				</div><br /><br />

			</div>
			
			<div class="tab-pane with-bg" id="fwv-2">
				
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label">Original Sanctioned Cost</label>
							<input class="form-control" ng-model="proj_dtls.sanctioned_cost" name="street" id="street" data-validate="" placeholder="Amount in Rs. Lakhs"/>
						</div>
					</div>
				</div><br/>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label">Approved Award Cost</label>
							<input class="form-control" ng-model="proj_dtls.approved_cost" name="street" id="street" data-validate="" placeholder="incl. of Overhead Charges (Amount in Rs. Lakhs)"/>
						</div>
					</div>
				</div><br/>

				<!-- <div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Released Amount</label>
							<input class="form-control" ng-model="proj_dtls.released_amnt" name="street" id="street" data-validate="" placeholder="Amount in Rs. Lakhs"/>
						</div>
					</div>
				</div><br/> -->
				
			</div>
			

			<div class="tab-pane with-bg" id="fwv-3">
				<div align="center">
					<h4><strong>Existing Infrastructure Detail</strong></h4>
					<hr />
					<br />
				</div>

				<strong>Progress Type</strong>
				<br />
				<br />
				<div class="row">
					
					<div class="col-md-12">
						<div class="form-group">
					    
					    	<label for="progress" class=" control-label">Progress Type</label>    
					        <select ng-model="proj_dtls.progress" 
					                ng-options="obj as obj.table_desc for obj in progress_list track by obj.table_code"
					                class="form-control"
					                ng-required="false"
					                id="state">
					          	<option value="">-- Select Progress Type --</option>
					        </select>      
					    
				    </div>
					</div>
					
					<!-- <div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Target</label>
							<input class="form-control" ng-model="proj_dtls.33_feeder_name" name="street" id="street" data-validate="" placeholder="Enter here"/>
						</div>
					</div> -->
					
				</div>
				<br /><br />


				<div class="row">
					
					<div class="col-md-12">
						<div class="form-group">
					    
					    	<label for="cable" class=" control-label">Cable Type</label>    
					        <select ng-model="proj_dtls.cable" 
					                ng-options="obj as obj.cable_type for obj in cable_list track by obj.cable_type_id"
					                class="form-control"
					                ng-required="false"
					                id="state">
					          	<option value="">-- Select Cable Type --</option>
					        </select>      
					    
				    </div>
					</div>
					
					<!-- <div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Target</label>
							<input class="form-control" ng-model="proj_dtls.33_feeder_name" name="street" id="street" data-validate="" placeholder="Enter here"/>
						</div>
					</div> -->
					
				</div>
				<br /><br />

				<div class="row">
					
					<div class="col-md-12">
						<div class="form-group">
					     
					    	<label for="state" class=" control-label">TurnKey Contractor</label>    
					        <select ng-model="proj_dtls.tkc" 
					                ng-options="obj as obj.tkc_name for obj in tkc_list track by obj.tkc_id"
					                class="form-control"
					                ng-required="false"
					                id="state">
					          	<option value="">-- Select TKC --</option>
					        </select>      
					    
				    </div>
					</div>
					<br><br>
					
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label">Target</label>
							<input class="form-control"  ng-model="proj_dtls.target_value" name="street" id="street" data-validate="" placeholder="Enter here"/>
						</div>
					</div>
					
				</div>
				<br /><br />
				
				<!-- <div class="row">
					
					
					
				</div> -->
				

				<div class="form-group" align="right"  >
					<button type="submit" ng-click= "save()" class="btn btn-primary">Submit</button>
					<button type="submit" ng-click= "cancel()" class="btn btn-primary">Finish</button>
				</div>
				
			</div>
			
			
			<!-- Tabs Pager -->
			
			<ul class="pager wizard">
				<li class="previous">
					<a href=""><i class="entypo-left-open"></i> Previous</a>
				</li>
				<li >
					<a ng-click="cancel()"><i class="entypo-left-open"></i> Cancel</a>
				</li>
				
				<li class="next">
					<a href="">Next <i class="entypo-right-open"></i></a>
				</li>
			</ul>
			
		</div>
		
	</form>
</div>

