<script type="text/javascript">
// Sample Javascript code for this page
jQuery(document).ready(function($)
{
	// Sample Select all images
	$("#select-all").on('change', function(ev)
	{
		var is_checked = $(this).is(':checked');

		$(".album-image input[type='checkbox']").prop('checked', is_checked).trigger('change');
	});

	// Edit Modal
	$('.gallery-env a[data-action="edit"]').on('click', function(ev)
	{
		ev.preventDefault();
		$("#gallery-image-modal").modal('show');
	});

	// Delete Modal
	$('.gallery-env a[data-action="trash"]').on('click', function(ev)
	{
		ev.preventDefault();
		$("#gallery-image-delete-modal").modal('show');
	});


	// Sortable
	$('.gallery-env a[data-action="sort"]').on('click', function(ev)
	{
		ev.preventDefault();

		var is_sortable = $(".album-images").sortable('instance');

		if( ! is_sortable)
		{
			$(".gallery-env .album-images").sortable({
				items: '> div',
				containment: 'parent'
			});

			$(".album-sorting-info").stop().slideDown(300);
		}
		else
		{
			$(".album-images").sortable('destroy');
			$(".album-sorting-info").stop().slideUp(300);
		}
	});
});
</script>
<page-title ng-if="layoutOptions.pageTitles" title="Project Summary" description=""></page-title>
<div class="panel panel-default">
	<div class="panel-body" ng-show="table" >
	<!-- 	<a class="navbar-brand" href="">Project Summary</a>
		<div class="navbar-form navbar-right" align="center">
			<input type="text" ng-model="searchkey" class="form-control" placeholder="Search">
		</div> -->
		
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>S/N</th>
					<th>Project Name</th>
					<th>Project ID</th>
					<th>Project Type</th>
					<th>Start Date</th>
					<!-- <th>Status</th> -->
					<th>Action</th>
				</tr>
			</thead>
			<tbody class="middle-align" ng-repeat = "proj in proj_list | filter : searchkey">
				
				<tr>
					<td>{{$index+1}}</td>
					<td>{{proj.project_name}}</td>
					<td>{{proj.project_id}}</td>
					<td>{{proj.scheme_name}}</td>
					<td>{{proj.start_date}}</td>
					<td>	
						<button ng-click="view(proj)" class="btn btn-info btn-sm btn-icon icon-left">
							View
						</button>
					</td>
				</tr>	
			</tbody>
		</table>
	</div>

	<div ng-show="view_dtls">
		<!-- <div class="row">
			<div class="col-sm-12"></div>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Project Name</th>
						<th>Project Id</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Mtcpl_Tested</td>
						<td>20171946</td>
					</tr>
				</tbody>
				<thead>
					<tr>
						<th>Scheme Name</th>
						<th>Company Name</th>
						<th>Discom Name</th>
					</tr>					
				</thead>
				<tbody>
					<tr>
						<td>RAPDRP PART B</td>
						<td>UPPCL</td>
						<td>DVVNNL</td>
					</tr>					
				</tbody>
				<thead>
					<tr>
						<th>Start Date</th>
						<th>End Date</th>
						<th>General Manager</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>2017-10-12</td>
						<td>2018-10-12</td>
						<td>Kristen Stewart</td>
					</tr>					
				</tbody>
				<thead>
					<tr>
						<th>Co-ordinator</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>John sinha</td>
						<td>Dywane</td>
					</tr>					
				</tbody>
			</table>
		</div> -->
		<div class="row">
			<div class="col-sm-4">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Project Name</th>
						<td>{{proj_dtls.project_name}}</td>
					</tr>
					<tr>
						<th>Scheme Name</th>
						<td>{{proj_dtls.scheme_name}}</td>
					</tr>
					<tr>
						<th>Start Date</th>
						<td>{{proj_dtls.start_date}}</td>
					</tr>
					<tr>
						<th>Co-ordinator</th>
						<td class="parent">
							<table>
								<tbody ng-repeat="cor in cr_name">
									<tr>
										<td>{{$index+1}}.&nbsp;</td>
										<td>{{cor.fname}}&nbsp;{{cor.lname}}</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>					
				</table>
			</div>
			<div class="col-sm-4">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Project ID</th>
						<td>{{proj_dtls.project_id}}</td>
					</tr>
					<tr>
						<th>Company Name </th>
						<td>{{client_name.client_name}}</td>
					</tr>
					<tr>
						<th>End-Date</th>
						<td>{{proj_dtls.end_date}}</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-4">
				<table class="table table-bordered table-striped">
					<tr><th></th><td></td></tr>
					<tr>
						<th>Discom Name</th>
						<td>{{dis_name.discom_name}}</td>
					</tr>
					<tr>
						<th>General Manager</th>
						<td>{{gm_name.fname}}&nbsp;{{gm_name.lname}}</td>
					</tr>

				</table>
			</div>
		</div><br/><br/>
		<div class="row">
			<div class="form-group">
			    <div class="col-sm-5"> 
			    	<span>Zone Name </span> 
				    <script type="text/javascript">
						jQuery(document).ready(function($)
						{
							$("#s2example-02").select2({
								placeholder: '-- Select Company Name --',
								allowClear: true
							}).on('select2-open', function()
							{
								// Adding Custom Scrollbar
								$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
							});
							
						});
					</script>
					<select class="form-control" 
							id="s2example-02" 
							ng-model="project.company" 
			                ng-options="x as x.company_name for x in companies track by x.company_id"
			                ng-change = "getDiscom()"
			                class="form-control"
			                ng-required="true">
				          <option value=""></option>
				    </select>         
			    </div>

			    <div class="col-sm-1"></div> 
			    <div class="col-sm-5">     
			    	<span>Circle Name </span> 
				    <script type="text/javascript">
						jQuery(document).ready(function($)
						{
							$("#s2example-03").select2({
								placeholder: '-- Select zone Name --',
								allowClear: true
							}).on('select2-open', function()
							{
								// Adding Custom Scrollbar
								$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
							});
							
						});
					</script>
					<select class="form-control" 
							id="s2example-03" 
							ng-model="project.discom"
			                ng-options="x as x.discom_name for x in discoms track by x.discom_id"
			                ng-change = "getZone()"
			                class="form-control" 
			                ng-required="true">
				          <option value=""></option>
				    </select>     
			    </div>
		    </div>
		</div><br /><br />
		<div class="row">
		    <div class="col-sm-5">     
		    	<span>Division Name </span> 
			    <script type="text/javascript">
					jQuery(document).ready(function($)
					{
						$("div_21").select2({
							placeholder: '-- Select Division Name --',
							allowClear: true
						}).on('select2-open', function()
						{
							// Adding Custom Scrollbar
							$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
						});
						
					});
				</script>
				<select class="form-control" 
						id="div_21" 
						ng-model="project.discom"
		                ng-options="x as x.discom_name for x in discoms track by x.discom_id"
		                ng-change = "getZone()"
		                class="form-control" 
		                ng-required="true">
			          <option value=""></option>
			    </select>     
		    </div>			
		</div><br /><br />
		<div class="row">
			<div id="rootwizard" class="form-wizard">
				
				<ul class="tabs">
					<li class="active">
						<a href="#tab1" data-toggle="tab">Date & Cost</a>
					</li>
					<li>
						<a href="#tab2" data-toggle="tab">Existing Infrastructure Detail</a>
					</li>
					<li>
						<a href="#tab3" data-toggle="tab">Target & Progress 33 kVA</a>
					</li>
					<li>
						<a href="#tab4" data-toggle="tab">Target & Progress 11 kVA</a>
					</li>
					<li>
						<a href="#tab5" data-toggle="tab">Cumulative Progress</a>
					</li>
					<li>
						<a href="#tab6" data-toggle="tab">LT line & Pole</a>
					</li>
				</ul>
				
				<div class="progress-indicator">
					<span></span>
				</div>
				
				<div class="tab-content">
					
					<!-- Tabs Content -->
					<div class="tab-pane active" id="tab1">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>S/N</th>
									<th>TKC Name</th>
									<th>Date of Letter of Award</th>
									<th>Date of Contract Agreement</th>
									<th>Original Sanctioned Cost</th>
									<th>Approved Award Cost</th>
									<th>Released Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>tkc1</td>
									<td>10/10/2016</td>
									<td>05/05/2017</td>
									<td>540000</td>
									<td>520000</td>
									<td>250000</td>
								</tr>
								<tr>
									<td>2</td>
									<td>tkc2</td>
									<td>10/10/2016</td>
									<td>05/05/2017</td>
									<td>450000</td>
									<td>420000</td>
									<td>180000</td>									
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="tab-pane" id="tab2">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>S/N</th>
									<th>TKC Name</th>
									<th colspan="2">33/11 kV Sub-Station</th>
									<th colspan="2">33 kV Feeder</th>
									<th colspan="2">11 kV Feeder</th>
									<th colspan="3">Distribution Transformer</th>
								</tr>
								<tr>
									<th></th>
									<th></th>
									<th>Number</th>
									<th>Name</th>
									<th>Number</th>
									<th>Name</th>
									<th>Number</th>
									<th>Name</th>
									<th>25 kVA</th>
									<th>63 Kva</th>
									<th>100 KVA</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>tkc1</td>
									<td>1245</td>
									<td>Sub-station</td>
									<td>7895</td>
									<td>Fedder12</td>
									<td>6548</td>
									<td>Fedder23</td>
									<td>184</td>
									<td>435</td>
									<td>945</td>
								</tr>
								<tr>
									<td>2</td>
									<td>tkc2</td>
									<td>9875</td>
									<td>Sub-station2</td>
									<td>3545</td>
									<td>Fedder43</td>
									<td>1245</td>
									<td>Fedder67</td>
									<td>458</td>
									<td>982</td>
									<td>749</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="tab-pane" id="tab3">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>S/N</th>
									<th>TKC Name</th>
									<th colspan="2">New 33/11 kV Substation</th>
									<th colspan="2">Augmentation of 33 KV</th>
									<th colspan="3">Length of 33 KV line to be completed</th>
								</tr>
								<tr>
									<th></th>
									<th></th>
									<th>Target</th>
									<th>Progress</th>
									<th>Target</th>
									<th>Progress</th>
									<th>Type of Conductor</th>
									<th>Target</th>
									<th>Progress</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>tkc1</td>
									<td>1245</td>
									<td>Sub-station</td>
									<td>7895</td>
									<td>Fedder12</td>
									<td>184</td>
									<td>435</td>
									<td>945</td>
								</tr>
								<tr>
									<td>2</td>
									<td>tkc2</td>
									<td>9875</td>
									<td>Sub-station2</td>
									<td>3545</td>
									<td>Fedder43</td>
									<td>458</td>
									<td>982</td>
									<td>749</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="tab-pane" id="tab4">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>S/N</th>
									<th>TKC Name</th>
									<th colspan="3">1-ph</th>
									<th colspan="3">3-ph</th>
								</tr>
								<tr>
									<th></th>
									<th></th>
									<th>Cable Specification</th>
									<th>Target</th>
									<th>Progress</th>
									<th>Cable Specification</th>
									<th>Target</th>
									<th>Progress</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>tkc1</td>
									<td>a1-cable</td>
									<td>1245</td>
									<td>1000</td>
									<td>b1-cable</td>
									<td>7895</td>
									<td>5123</td>
								</tr>
								<tr>
									<td>2</td>
									<td>tkc2</td>
									<td>a2-cable</td>
									<td>1245</td>
									<td>1000</td>
									<td>b2-cable</td>
									<td>7895</td>
									<td>5123</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="tab-pane" id="tab5">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>S/N</th>
									<th>TKC Name</th>
									<th colspan="2">25 KVA DT</th>
									<th colspan="2">63 KVA DT</th>
									<th colspan="2">100 KVA DT</th>
								</tr>
								<tr>
									<th></th>
									<th></th>
									<th>Target</th>
									<th>Progress</th>
									<th>Target</th>
									<th>Progress</th>
									<th>Target</th>
									<th>Progress</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>tkc1</td>
									<td>4568</td>
									<td>4068</td>
									<td>7832</td>
									<td>7552</td>
									<td>1258</td>
									<td>800</td>
								</tr>
								<tr>
									<td>2</td>
									<td>tkc2</td>
									<td>9875</td>
									<td>8045</td>
									<td>3545</td>
									<td>3256</td>
									<td>4596</td>
									<td>4156</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="tab-pane" id="tab6">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>S/N</th>
									<th>TKC Name</th>
									<th colspan="2">Length of LT line to be completed</th>
									<th colspan="2">Pole to be installed</th>
								</tr>
								<tr>
									<th></th>
									<th></th>
									<th>Target</th>
									<th>Progress</th>
									<th>Type</th>
									<th>Target</th>
									<th>Progress</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>tkc1</td>
									<td>4568</td>
									<td>4068</td>
									<td>7832</td>
									<td>7552</td>
								</tr>
								<tr>
									<td>2</td>
									<td>tkc2</td>
									<td>9875</td>
									<td>8045</td>
									<td>3545</td>
									<td>3256</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<!-- Tabs Pager -->
					<ul class="pager wizard">
						<li class="previous first">
							<a href="">First</a>
						</li>
						<li class="previous">
							<a href=""><i class="entypo-left-open"></i> Previous</a>
						</li>
						
						<li class="next last">
							<a href="">Last</a>
						</li>
						<li class="next">
							<a href="">Next <i class="entypo-right-open"></i></a>
						</li>
					</ul>
					
				</div>
				
			</div>
			
		</div><br /><br />
				<section class="gallery-env">
					<!-- Gallery Album Optipns and Images -->
					<div class="row">
						<div class="col-sm-3 gallery-left">
							<h2>Pictures</h2>
						</div>
						<div class="col-sm-9 gallery-right" align="right">
							<ul class="album-options list-unstyled list-inline">
								<li>
									<input type="checkbox" class="cbr" id="select-all" />
									<label for="select-all">Select all</label>
								</li>
								<li>
									<a href="">
										<i class="fa-upload"></i>
										Add Images
									</a>
								</li>
								<li>
									<a href="" data-action="sort">
										<i class="fa-arrows"></i>
										Re-order
									</a>
								</li>
								<li>
									<a href="" data-action="edit">
										<i class="fa-edit"></i>
										Edit
									</a>
								</li>
								<li>
									<a href="" data-action="trash">
										<i class="fa-trash"></i>
										Trash
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="row">

							<!-- Sorting Information -->
							<div class="album-sorting-info">
								<div class="album-sorting-info-inner clearfix">
									<a href="" class="btn btn-secondary btn-xs btn-single btn-icon btn-icon-standalone pull-right" data-action="sort">
										<i class="fa-save"></i>
										<span>Save Current Order</span>
									</a>

									<i class="fa-arrows-alt"></i>
									Drag images to sort them
								</div>
							</div>

							<!-- Album Images -->
							<div class="album-images row">

								<!-- Album Image -->
								<div class="col-md-3 col-sm-4 col-xs-6">
									<div class="album-image">
										<a href="" class="thumb" data-action="edit">
											<img src="assets/images/gallery/4.jpg" class="img-responsive" />
										</a>

										<a href="" class="name">
											<span>IMG_1001.jpg</span>
											<em>01 December 2014</em>
										</a>

										<div class="image-options">
											<a href="" data-action="edit"><i class="fa-pencil"></i></a>
											<a href="" data-action="trash"><i class="fa-trash"></i></a>
										</div>

										<div class="image-checkbox">
											<input type="checkbox" class="cbr" />
										</div>
									</div>
								</div>

								<!-- Album Image -->
								<div class="col-md-3 col-sm-4 col-xs-6">
									<div class="album-image">
										<a href="" class="thumb" data-action="edit">
											<img src="assets/images/gallery/2.jpg" class="img-responsive" />
										</a>

										<a href="" class="name">
											<span>IMG_1002.jpg</span>
											<em>23 November 2014</em>
										</a>

										<div class="image-options">
											<a href="" data-action="edit"><i class="fa-pencil"></i></a>
											<a href="" data-action="trash"><i class="fa-trash"></i></a>
										</div>

										<div class="image-checkbox">
											<input type="checkbox" class="cbr" />
										</div>
									</div>
								</div>

								<!-- Album Image -->
								<div class="col-md-3 col-sm-4 col-xs-6">
									<div class="album-image">
										<a href="" class="thumb" data-action="edit">
											<img src="assets/images/gallery/6.jpg" class="img-responsive" />
										</a>

										<a href="" class="name">
											<span>IMG_1004.jpg</span>
											<em>06 November 2014</em>
										</a>

										<div class="image-options">
											<a href="" data-action="edit"><i class="fa-pencil"></i></a>
											<a href="" data-action="trash"><i class="fa-trash"></i></a>
										</div>

										<div class="image-checkbox">
											<input type="checkbox" class="cbr" />
										</div>
									</div>
								</div>

								<!-- Album Image -->
								<div class="col-md-3 col-sm-4 col-xs-6">
									<div class="album-image">
										<a href="" class="thumb" data-action="edit">
											<img src="assets/images/gallery/7.jpg" class="img-responsive" />
										</a>

										<a href="" class="name">
											<span>IMG_1008.jpg</span>
											<em>26 October 2014</em>
										</a>

										<div class="image-options">
											<a href="" data-action="edit"><i class="fa-pencil"></i></a>
											<a href="" data-action="trash"><i class="fa-trash"></i></a>
										</div>

										<div class="image-checkbox">
											<input type="checkbox" class="cbr" />
										</div>
									</div>
								</div>

								<!-- Album Image -->
								<div class="col-md-3 col-sm-4 col-xs-6">
									<div class="album-image">
										<a href="" class="thumb" data-action="edit">
											<img src="assets/images/gallery/4.jpg" class="img-responsive" />
										</a>

										<a href="" class="name">
											<span>IMG_023.jpg</span>
											<em>02 October 2014</em>
										</a>

										<div class="image-options">
											<a href="" data-action="edit"><i class="fa-pencil"></i></a>
											<a href="" data-action="trash"><i class="fa-trash"></i></a>
										</div>

										<div class="image-checkbox">
											<input type="checkbox" class="cbr" />
										</div>
									</div>
								</div>

								<!-- Album Image -->
								<div class="col-md-3 col-sm-4 col-xs-6">
									<div class="album-image">
										<a href="" class="thumb" data-action="edit">
											<img src="assets/images/gallery/2.jpg" class="img-responsive" />
										</a>

										<a href="" class="name">
											<span>IMG_012.jpg</span>
											<em>18 September 2014</em>
										</a>

										<div class="image-options">
											<a href="" data-action="edit"><i class="fa-pencil"></i></a>
											<a href="" data-action="trash"><i class="fa-trash"></i></a>
										</div>

										<div class="image-checkbox">
											<input type="checkbox" class="cbr" />
										</div>
									</div>
								</div>

								<!-- Album Image -->
								<div class="col-md-3 col-sm-4 col-xs-6">
									<div class="album-image">
										<a href="" class="thumb" data-action="edit">
											<img src="assets/images/gallery/8.jpg" class="img-responsive" />
										</a>

										<a href="" class="name">
											<span>IMG_207.jpg</span>
											<em>28 August 2014</em>
										</a>

										<div class="image-options">
											<a href="" data-action="edit"><i class="fa-pencil"></i></a>
											<a href="" data-action="trash"><i class="fa-trash"></i></a>
										</div>

										<div class="image-checkbox">
											<input type="checkbox" class="cbr" />
										</div>
									</div>
								</div>

								<!-- Album Image -->
								<div class="col-md-3 col-sm-4 col-xs-6">
									<div class="album-image">
										<a href="" class="thumb" data-action="edit">
											<img src="assets/images/gallery/4.jpg" class="img-responsive" />
										</a>

										<a href="" class="name">
											<span>IMG_002.jpg</span>
											<em>27 October 2013</em>
										</a>

										<div class="image-options">
											<a href="" data-action="edit"><i class="fa-pencil"></i></a>
											<a href="" data-action="trash"><i class="fa-trash"></i></a>
										</div>

										<div class="image-checkbox">
											<input type="checkbox" class="cbr" />
										</div>
									</div>
								</div>

							</div>


							<button class="btn btn-white btn-block">
								<i class="fa-bars"></i>
								Load More Images
							</button>

						</div>
				</section>
		<div align="center">
			<button ng-click="cancel()" class="btn btn-sm btn-icon icon-left">Cancel</button>
		</div>
	</div><br/><br/>
</div>
