
<div class="login-container" >

	<div class="row">

		<div class="col-sm-6">

			<script type="text/javascript">
				jQuery(document).ready(function($)
				{
					// Reveal Login form
					setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);


					// Validation and Ajax action
					$("form#login").validate({
						rules: {
							fname: {
								required: true
							},

							lname: {
								required: true
							},
							
							mobile: {
								required: true
							},

							empid: {
								required: true
							},	

							email: {
								required: true
							}
						},

						messages: {
							fname: {
								required: 'Please enter your First Name.'
							},

							lname: {
								required: 'Please enter your Last Name.'
							},

							mobile: {
								required: 'Please enter your Mobile Number'
							},

							empid: {
								required: 'Please enter your Employee ID'
							},

							email: {
								required: 'Please enter your Company Email'
							}
						},

						// Form Processing via AJAX
						submitHandler: function(form)
						{
							showLoadingBar(95); // Fill progress bar to 70% (just a given value)

							var opts = {
								"closeButton": true,
								"debug": false,
								"positionClass": "toast-top-full-width",
								"onclick": null,
								"showDuration": "300",
								"hideDuration": "1000",
								"timeOut": "5000",
								"extendedTimeOut": "1000",
								"showEasing": "swing",
								"hideEasing": "linear",
								"showMethod": "fadeIn",
								"hideMethod": "fadeOut"
							};
							console.log("hi")

							$.ajax({
								url: "register",
								method: 'POST',
								dataType: 'json',
								data: {
									register: true,
									fname:  $(form).find('#fname').val(),
									lname:  $(form).find('#lname').val(),
									mobile: $(form).find('#mobile').val(),
									email:  $(form).find('#email').val(),
									empid:  $(form).find('#empid').val(),
								},
								success: function(data,err)
								{
									showLoadingBar({
										delay: .5,
										pct:100,
										finish: function(){

											// Redirect after successful login page (when progress bar reaches 100%)
											if(err)
											{
												window.location.hash = '#/app/login';
												toastr.success("Form Successfully Submitted", "successful!", opts);
												//$('body').removeClass('login-page login-light lockscreen-page');
											}
											else
											{
												toastr.success("Failed to submit", "Failed!", opts);
											}
										}
									});

								},

							});

						}
					});
					// Set Form focus
					//$("form#login .form-group:has(.form-control):first .form-control").focus();
				});


			</script>

			<!-- Errors container -->
			<div class="errors-container">

				
			</div>
			<!-- Add class "fade-in-effect" for login form effect -->
			<form method="post" role="form" id="login" class="login-form fade-in-effect">

				<div class="login-header">
					<a href="#/app/dashboard-variant-1" class="logo">
						<img src="assets/images/LOGO.png" alt="" width="80" />
						<span>Register</span>
					</a>

					<p>Dear new user, please fill the form to get access!</p>
				</div>


				<div class="form-group">
					<label class="control-label" for="fname">First Name</label>
					<input type="text" class="form-control input-dark" name="fname" id="fname" autocomplete="off" />
				</div>

				<div class="form-group">
					<label class="control-label" for="lname">Last Name</label>
					<input type="text" class="form-control input-dark" name="lname" id="lname" autocomplete="off" />
				</div>

				<div class="form-group">
					<label class="control-label" for="mobile">Mobile Number</label>
					<input type="text" class="form-control input-dark" name="mobile" id="mobile" autocomplete="off" />
				</div>

				<div class="form-group">
					<label class="control-label" for="empid">Employee ID</label>
					<input type="text" class="form-control input-dark" name="empid" id="empid" autocomplete="off" />
				</div>

				<div class="form-group">
					<label class="control-label" for="email">Company Email</label>
					<input type="text" class="form-control input-dark" name="email" id="email" autocomplete="off" />
				</div>

				<div class="form-group">
				<!-- <a href="#/app/login"></a> -->
					<button type="submit" class="btn btn-dark  btn-block text-left">
						Submit
					</button>
				</div>

			</form>

		</div>

	</div>

</div>