<div class="login-container">

	
			<script type="text/javascript">

				jQuery(document).ready(function($)
				{
					$('#done').on('click',function(){

						var resetData = {}
						resetData.empid = $('#empid').val();
						resetData.email = $('#email').val();
						resetData.password1 = $('#password1').val();
						resetData.password2 = $('#password2').val();

						if(!resetData.empid && !resetData.email && !resetData.password1  && !resetData.password2){
							toastr.error('Please fill all the required field', 'Info', {timeOut: 5000});

						}else if(resetData.password1 == resetData.password2){
							$.ajax({
								url: "/resetPassword",
								method: 'POST',
								/*dataType: 'json',*/
								data: resetData,
								success: function(data,err)
								{
									toastr.success('Password updated successfully', 'Success', {timeOut: 5000});	

								},
								error: function(err){

								}

							});

						}else if(resetData.password1 != resetData.password2){
							toastr.error('Password not match', 'Info', {timeOut: 5000});

						}else{
							toastr.error('Not a valid user', 'Info', {timeOut: 5000});
						}

						



					})
				});


			</script>
			<div class="panel col-sm-7" style="top: 80px; left: 160px;">
				<div style="background-color: #fefefe;border-radius:5px;" class="float-left">
					<div class="form-group">
						<h2 align="center">Reset your password</h2>
					</div>	
					
					<form method="post" role="form" id="login" class="login-form fade-in-effect">					
						<div class="form-group">
							<label class="control-label" for="username">Employee id</label>
							<input type="text" class="form-control input-dark" name="empid" id="empid"/>
						</div>

						<div class="form-group">
							<label class="control-label" for="passwd">Email</label>
							<input type="text" class="form-control input-dark" name="email" id="email"/>
						</div>

						<div class="form-group">
							<label class="control-label" for="passwd">New Password</label>
							<input type="password" class="form-control input-dark" name="password1" id="password1"/>
						</div>

						<div class="form-group">
							<label class="control-label" for="passwd">Confirm Password</label>
							<input type="password" class="form-control input-dark" name="password2" id="password2"/>
						</div>

						<div class="form-group">
							<button type="submit" id="done" class="btn btn-dark btn-block"> Send </button>
						</div>

					</form>
					
				</div>		
			</div>
	
</div>