<!-- <div ng-show="tender_enter_dtls"> -->
	<page-title ng-if="layoutOptions.pageTitles" title="Enter Tender Details" description=""></page-title>
	<script type="text/javascript">
		jQuery(document).ready(function($)
		{
			$(".multi-select").multiSelect({
				afterInit: function()
				{
					// Add alternative scrollbar to list
					this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
				},
				afterSelect: function()
				{
					// Update scrollbar size
					this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
				}
			});
			
			$(".selectboxit").selectBoxIt().on('open', function()
			{
				// Adding Custom Scrollbar
				$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
			});
		});
	</script>

	<form role="forl" id="rootwizard" class="form-wizard validate" novalidate>
		
		<ul class="tabs">
			<li class="active">
				<a href="#fwv-1" data-toggle="tab">
					Basic Info
					<span>1</span>
				</a>
			</li>
			<li>
				<a href="#fwv-2" data-toggle="tab">
					Tender Type
					<span>2</span>
				</a>
			</li>
			<li>
				<a href="#fwv-3" data-toggle="tab">
					Opening Date
					<span>3</span>
				</a>
			</li>
			<li>
				<a href="#fwv-4" data-toggle="tab">
					Tender Value
					<span>4</span>
				</a>
			</li>
		</ul>
		
		<div class="progress-indicator">
			<span></span>
		</div>
		
		<div class="tab-content no-margin">
			
			<!-- Tabs Content -->
			<div class="tab-pane with-bg active" id="fwv-1">
				
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<span>Tender Name</span>
							<input class="form-control" ng-model="tender.tnd_name" name="full_name" id="full_name" data-validate="required" placeholder="Tender Name" />
						</div>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<div class="form-group">
							<span>Specification id : </span>
							 {{tenderid.nextval}}
						</div>
					</div>
				</div><br/><br/>

				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<span>Specification Name</span>
							<input class="form-control" ng-model="tender.tnd_spc_no" name="full_name" id="full_name" data-validate="required" placeholder="Specification Number" />
						</div>
					</div>
					<div class="col-md-1"></div>
				</div><br/><br/>
				
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<span>Date Of Invitation(NIT)</span>
							<input class="form-control datepicker" ng-model="tender.tnd_doi" placeholder="" />
						</div>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<div class="form-group">
							<span>Date of Pre-Bid</span>
							<input class="form-control datepicker" ng-model="tender.tnd_ad_date"  placeholder="" />
						</div>
					</div>
				</div><br/><br/>
				<div class="row">
					
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label" for="about">Remarks</label>
							<textarea class="form-control autogrow" ng-model="tender.remarks" name="about" id="about" data-validate="minlength[10]" rows="5" placeholder="Remarks If Any..........."></textarea>
						</div>
					</div>

				</div>
			</div>
			
			<div class="tab-pane with-bg" id="fwv-2">
				<div class="row">	
					<div class="col-md-5">
						<div class="form-group">
							<span>Project Associated </span>
						    <script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#Pname").select2({
										placeholder: '-- Select Project Name --',
										allowClear: true
									}).on('select2-open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
									});
								});
							</script>
							<select class="form-control" 
									id="Pname" 
									ng-model="tender.pid"                
					                ng-options="obj as obj.project_name for obj in proj_list track by obj.project_id"
					                ng-change="getClient()"
					                class="form-control" 
					                ng-required="true">
						          <option value=""></option>
						    </select> 
						</div>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<div class="form-group">
							<span>Tender Mapped</span>
						    <script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#mapped").select2({
										placeholder: '-- Select Project Name --',
										allowClear: true
									}).on('select2-open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
									});
								});
							</script>
							<select class="form-control" 
									id="mapped" 
									ng-model="tender.t_mapped"                
					                ng-options="obj as obj.name for obj in tender_mapped track by obj.id"
					                ng-change="getMapped()"
					                ng-required="true">
						          <option value=""></option>
						    </select> 
						</div>
					</div>							
				</div><br/><br/>

				<div class="row">
					<div class="col-md-5">
						<div ng-show="tender.t_mapped.id == 1">
							<div class="form-group">
								<span>{{h_name}}</span>
							    <script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#sub_mapped").select2({
											placeholder: '-- Select Project Name --',
											allowClear: true
										}).on('select2-open', function()
										{
											// Adding Custom Scrollbar
											$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
										});
									});
								</script>
								<select class="form-control" 
										id="sub_mapped" 
										ng-model="tender.t_mapped_sub_selected"                
						                ng-options="obj as obj.discom_name for obj in t_mapped_sub track by obj.discom_id"
						                ng-change="getMapped()"
						                ng-required="true"
						                multiple>
							          <option value=""></option>
							    </select> 
							</div>
						</div>
						<div ng-show="tender.t_mapped.id == 2">
							<div class="form-group">
								<span>{{h_name}}</span>
							    <script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#sub_mapped2").select2({
											placeholder: '-- Select Project Name --',
											allowClear: true
										}).on('select2-open', function()
										{
											// Adding Custom Scrollbar
											$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
										});
									});
								</script>
								<select class="form-control" 
										id="sub_mapped2" 
										ng-model="tender.t_mapped_sub_selected"                
						                ng-options="obj as obj.zone_name for obj in t_mapped_sub track by obj.zone_id"
						                ng-change="getMapped()"
						                ng-required="true"
						                multiple>
							          <option value=""></option>
							    </select> 
							</div>
						</div>
						<div ng-show="tender.t_mapped.id == 3">
							<div class="form-group">
								<span>{{h_name}}</span>
							    <script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#sub_mapped3").select2({
											placeholder: '-- Select Project Name --',
											allowClear: true
										}).on('select2-open', function()
										{
											// Adding Custom Scrollbar
											$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
										});
									});
								</script>
								<select class="form-control" 
										id="sub_mapped3" 
										ng-model="tender.t_mapped_sub_selected"                
						                ng-options="obj as obj.circle_name for obj in t_mapped_sub track by obj.circle_id"
						                ng-change="getMapped()"
						                ng-required="true"
						                multiple>
							          <option value=""></option>
							    </select> 
							</div>
						</div>
						<div ng-show="tender.t_mapped.id == 4">
							<div class="form-group">
								<span>{{h_name}}</span>
							    <script type="text/javascript">
									jQuery(document).ready(function($)
									{
										$("#sub_mapped4").select2({
											placeholder: '-- Select Project Name --',
											allowClear: true
										}).on('select2-open', function()
										{
											// Adding Custom Scrollbar
											$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
										});
									});
								</script>
								<select class="form-control" 
										id="sub_mapped4" 
										ng-model="tender.t_mapped_sub_selected"                
						                ng-options="obj as obj.div_town_name for obj in t_mapped_sub track by obj.div_town_id"
						                ng-change="getMapped()"
						                ng-required="true"
						                multiple>
							          <option value=""></option>
							    </select> 
							</div>
						</div>
					</div>	
				</div>
			</div>
			
			<div class="tab-pane with-bg" id="fwv-3">
				
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<span>Techno Commercial Opening Date</span>
							<input class="form-control datepicker" ng-model="tender.tnd_dof" placeholder="Techno Commercial Opening Date" />
						</div>
					</div>

					<div class="col-md-1"></div>
					<div class="col-md-5">
						<div class="form-group">
							<span>Date Of Opening Financial Bid</span>
							<input class="form-control datepicker" ng-model="tender.tnd_dofb" name="full_name" id="full_name" data-validate="required" placeholder="Date Of Opening Financial Bid"/>
						</div>
					</div>
				</div><br/><br/>
				
			</div>
			
			<div class="tab-pane with-bg" id="fwv-4">
				
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<span>Revised Tender Value</span>
							<input class="form-control" ng-model="tender.revise_val" name="full_name" id="full_name" data-validate="required" placeholder="Revised Tender Value" />
						</div>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<div class="form-group">
							<span>Original Tender Value</span>
							<input class="form-control" ng-model="tender.original_val" name="full_name" id="full_name" data-validate="required" placeholder="Original Tender Value" />
						</div>
					</div>
				</div><br/><br/>

				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<span>EMD</span>
							<input class="form-control" ng-model="tender.emd" name="full_name" id="full_name" data-validate="required" placeholder="Earnest Money Deposit" />
						</div>					
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<div class="form-group">
							<span>Concerned Person</span>
							<input class="form-control" ng-model="tender.concerned_person" name="full_name" id="full_name" data-validate="required" placeholder="Concerned Person Name" />
						</div>
					</div>
				</div><br/><br/>
				
				<div class="form-group" align="center">
					<button type="submit"  ng-click="save()" class="btn btn-primary">Submit</button>
				</div>		
			</div>
						
			<!-- Tabs Pager -->
			
			<ul class="pager wizard">
				<li class="previous">
					<a href=""><i class="entypo-left-open"></i> Previous</a>
				</li>
				
				<li class="next">
					<a href="">Next <i class="entypo-right-open"></i></a>
				</li>
			</ul>
			
		</div>
		
	</form>
<!-- </div> -->

<!-- <div ng-show="success" align="center">
	<h3><strong>Tender Details Submitted Successfully!!!</strong></h3>
	<button ng-click="new()" class="btn btn-success btn-sm btn-icon">Submit For other</button>
</div> -->