
<div class="row">

	<div class="col-sm-3">
		
		<div class="xe-widget xe-counter" data-count=".num" data-from="0" data-to="90.9" data-suffix="%" data-duration="2">
			<div class="xe-icon">
				<i class="linecons-doc"></i>
			</div>
			<div class="xe-label">
				<strong class="num">10</strong>
				<span>Total Projects</span>
			</div>
		</div>
		
	</div>
	
	<div class="col-sm-3">
		
		<div class="xe-widget xe-counter xe-counter-blue" data-count=".num" data-from="1" data-to="117" data-suffix="k" data-duration="3" data-easing="false">
			<div class="xe-icon">
				<i class="linecons-user"></i>
			</div>
			<div class="xe-label">
				<strong class="num">10</strong>
				<span>Total Users</span>
			</div>
		</div>
	
	</div>
	
	<div class="col-sm-3">
		
		<div class="xe-widget xe-counter xe-counter-info" data-count=".num" data-from="1000" data-to="2470" data-duration="4" data-easing="true">
			<div class="xe-icon">
				<i class="linecons-camera"></i>
			</div>
			<div class="xe-label">
				<strong class="num">1000</strong>
				<span>Photos</span>
			</div>
		</div>
	
	</div>
	
	<div class="col-sm-3">
		
		<div class="xe-widget xe-counter xe-counter-red" xe-counter data-count=".num" data-from="0" data-to="57" data-prefix="-," data-suffix="%" data-duration="5" data-easing="true" data-delay="1">
			<div class="xe-icon">
				<i class="linecons-lightbulb"></i>
			</div>
			<div class="xe-label">
				<strong class="num">-,0%</strong>
				<span>Exchange Commission</span>
			</div>
		</div>
	
	</div>
	
	<div class="col-sm-6">
	
		<div class="xe-widget xe-counter-block"  data-count=".num" data-from="0" data-to="99.9" data-suffix="%" data-duration="2">
			<div class="xe-upper">
				
				<div class="xe-icon">
					<i class="linecons-doc"></i>
				</div>
				<div class="xe-label">
					<strong>Projects Summary</strong>
					<!-- <strong class="num">0.0%</strong> -->
					<!-- <span>Total Projects</span> -->
				</div>
				
			</div>
			<div class="xe-lower">
				<div class="border"></div>
				
				<!-- <span>Result</span>
				<strong>78% Increase</strong> -->
				<table class="table dash">
					<thead>
						<tr>
							<th>Scheme Name</th>
							<th>Total Projects</th>	
						</tr>
					</thead>
					<tbody ng-repeat = "item in dashProjSmry | filter : searchkey">
						<tr>
							<td>{{item.scheme_name}}</td>
							<td>{{item.count}}</td>
						</tr>
					</tbody>
					
				</table>
			</div>
		</div>
		
	</div>
	
	<div class="col-sm-6">
	
		<div class="xe-widget xe-counter-block xe-counter-block-purple"  data-count=".num" data-from="0" data-to="512" data-duration="3">
			<div class="xe-upper">
				
				<div class="xe-icon">
					<i class="linecons-user"></i>
				</div>
				<div class="xe-label">
					<strong>Manpower Details</strong>
					<!-- <strong class="num">0</strong>
					<span>Photos Taken</span> -->
				</div>
				
			</div>
			<div class="xe-lower">
				<div class="border"></div>
				<table class="table dash">
					<thead>
						<tr>
							<th>Projects Name</th>
							<th>GM</th>
							<th>CR</th>
							<th>FE</th>	
							<th>Admin</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{manPwr.project_name}}</td>
							<td>{{manPwr.gmcnt}}</td>
							<td>{{manPwr.crcnt}}</td>
							<td>{{manPwr.fecnt}}</td>
							<td>{{manPwr.admincnt}}</td>
						</tr>
					</tbody>
					
				</table>
				
				<!-- <span>Increase</span>
				<strong>512 more photos</strong> -->
			</div>
		</div>
		
	</div>
	
	<div class="col-sm-6">
	
		<div class="xe-widget xe-counter-block xe-counter-block-blue"  data-suffix="k" data-count=".num" data-from="0" data-to="310" data-duration="4" data-easing="false">
			<div class="xe-upper">
				
				<div class="xe-icon">
					<i class="linecons-camera"></i>
				</div>
				<div class="xe-label">
					<strong>Claim / Release</strong>
					<!-- <strong class="num">0k</strong> -->
					<!-- <span>Daily Visits</span> -->
				</div>
				
			</div>
			<div class="xe-lower">
				<div class="border"></div>
				<table class="table dash">
					<thead>
						<tr>
							<th>Projects Name</th>
							<th>Claim</th>
							<th>Release</th>	
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
					
				</table>
				
				<!-- <span>Bounce Rate</span>
				<strong>51.55%</strong> -->
			</div>
		</div>
		
	</div>
	
	<div class="col-sm-6">
	
		<div class="xe-widget xe-counter-block xe-counter-block-orange">
			<div class="xe-upper">
				
				<div class="xe-icon">
					<i class="fa-life-ring"></i>
				</div>
				<div class="xe-label">
					<strong>Project Status</strong>
					<!-- <strong class="num">24/7</strong>
					<span>Live Support</span> -->
				</div>
				
			</div>
			<div class="xe-lower">
				<div class="border"></div>
					<table class="table dash" id="dash_table">
						<thead>
							<tr>
								<th>Projects Name</th>
								<th>Target</th>
								<th>Progress</th>	
							</tr>
						</thead>
						<tbody ng-repeat = "item in dashProjStatus | filter : searchkey">
							<tr>
								<td>{{item.project_name}}</td>
								<td>{{item.target}}</td>
								<td>{{item.progress}}</td>
							</tr>
						</tbody>
						
					</table>
				
				<!-- <span>Tickets Opened</span>
				<strong xe-counter data-count="this" data-from="0" data-to="14215" data-duration="2">0</strong> -->
			</div>
		</div>
		
	</div>

	<div class="col-sm-6">
	
		<div class="xe-widget xe-counter-block xe-counter-block-yellow"  data-count=".num" data-from="0" data-to="512" data-duration="3">
			<div class="xe-upper">
				
				<div class="xe-icon">
					<i class="fa-life-ring"></i>
				</div>
				<div class="xe-label">
					<strong>TKC Fund</strong>
					<!-- <strong class="num">24/7</strong>
					<span>Live Support</span> -->
				</div>
				
			</div>
			<div class="xe-lower">
				<div class="border"></div>
					<table class="table dash" id="dash_table">
						<thead>
							<tr>
								<th>Claim</th>
								<th>Approve</th>
								<th>Release</th>	
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
						
					</table>
				
				<!-- <span>Tickets Opened</span>
				<strong xe-counter data-count="this" data-from="0" data-to="14215" data-duration="2">0</strong> -->
			</div>
		</div>
		
	</div>

	<div class="col-sm-6">
	
		<div class="xe-widget xe-counter-block xe-counter-block-pink"  data-count=".num" data-from="0" data-to="99.9" data-suffix="%" data-duration="2">
			<div class="xe-upper">
				
				<div class="xe-icon">
					<i class="fa-life-ring"></i>
				</div>
				<div class="xe-label">
					<strong>Extra Field</strong>
					<!-- <strong class="num">24/7</strong>
					<span>Live Support</span> -->
				</div>
				
			</div>
			<div class="xe-lower">
				<div class="border"></div>
					<table class="table dash" id="dash_table">
						<thead>
							<tr>
								<th>Extra Name</th>
								<th>Extra</th>
								<th>Extra</th>	
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
						
					</table>
				
				<!-- <span>Tickets Opened</span>
				<strong xe-counter data-count="this" data-from="0" data-to="14215" data-duration="2">0</strong> -->
			</div>
		</div>
		
	</div>

	
	
</div>